/* CSS Document */
body {
  background-color: #212529;
}
a {

}
.btn-hivekeychain {
  color: #fff;
  background-color: rgb(32, 36, 51);
}
.btn-hiveauth {
  color: #fff;
  border-color: #404244;
  background: #404244;
}
.btn-hivesigner {
  color: #000;
  border-color: #d1d5da;
  background: #d1d5da;
}
.bg-darkest {
  background-color: #1a1e20;
}
.center-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.shimmer {
  color: #fff;
    background-image: linear-gradient( 45deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82 )
}
.max-80 {
  max-width: 80px;
}
.max-134 {
  max-height: 134px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.featured-img {
  width: 600px;
  height: 330px;
  object-fit: cover;
}
.banner-img {
  max-height: 200px;
  object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .banner-img {
    min-height: 200px;
    object-fit: cover;
  }
}
.text-hbd {
  color: green;
}
.text-hive {
  color: red;
}
.text-token {
  color: yellow;
}
.text-tokenp {
  color: blue;
}
.text-tokeng {
  color: cyan;
}
[v-cloak] {
  display: none;
}
.padme-t70 {
  padding-top: 70px;
}
.bg-darker {
  background-color: #212529;
}
.cover {
  object-fit: cover;
}
.bg-darkg {
  background-color: #343a40 !important;
}
.border-dark {
  border-color: #343a40 !important;
}
.col-sort {
  background-color: cornflowerblue !important;
  color: #282828;
}
.tbody-scroll-orders {
  display: block;
  height: 400px;
  overflow: auto;
}

.tbody-scroll-history {
  display: block;
  max-height: 600px;
  overflow: auto;
}

.tbody-scroll-nodes {
  display: block;
  max-height: 600px;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
td {
  padding: 0.75em !important;
}
.btn-rb,
.btn-rb:hover,
.btn-rb:active,
.btn-rb:visited {
  background: linear-gradient(
    45deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      45deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    )
    1;
}

.border-rb {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
      45deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    )
    1;
}

.background-rb {
  background: linear-gradient(
    45deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  color: #000;
  border: none;
}
.nav-pills > li > a.active {
  background-color: #17a2b8 !important;
  color: #ffffff !important;
}
.nav-pills > li > a {
  color: #17a2b8 !important;
}
.r-radius-hotfix {
border-top-right-radius: 0.25rem !important;
border-bottom-right-radius: 0.25rem !important;
}
.l-radius-hotfix {
border-top-left-radius: 0.25rem !important;
border-bottom-left-radius: 0.25rem !important;
}