<!doctype html>
<html lang="en" class="h-100">

<head>
	<title>DLUX - New Token</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="manifest" href="/manifest.webmanifest">
	<link rel="apple-touch-icon" href="/img/dlux-icon-192.png">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-title" content="DLUX">
	<meta name="theme-color" content="#111222" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<link href="/css/custom.css" rel="stylesheet" />
	<!-- Markdown -->
	<script src="https://unpkg.com/showdown@1.x/dist/showdown.min.js"></script>
	<link rel="stylesheet" href="/css/simplemde-bs-dark.css">
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<!-- Marked -->
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script src="/js/purify.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked-linkify-it/lib/index.umd.js"></script>
	<!-- Tagify -->
	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
	<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
	<link href="/css/tagify.css" rel="stylesheet" type="text/css" />
	<!-- Script required for account creation (key generation) -->
	<script src="https://unpkg.com/@hiveio/dhive@latest/dist/dhive.js"></script>
	<script>
		var client = new dhive.Client(["https://api.hive.blog", "https://api.hive.blog", "https://anyx.io", "https://api.openhive.network"]);
	</script>
	<script type="module" src="/js/vueme.js"></script>
	<script src="https://kit.fontawesome.com/0f693ffc58.js" crossorigin="anonymous"></script>
	<script>
		if ('serviceWorker' in navigator) {
			navigator
				.serviceWorker
				.register(
					// path to the service worker file
					'/sw.js'
				)
				// the registration is async and it returns a promise
				.then(function (reg) {
					console.log('Registration Successful');
				});
		}
	</script>
</head>

<body class="d-flex h-100 align-items-stretch">
	<div id="app" class="d-flex w-100 flex-column w-100">
		<!-- navbar -->
		<div>
			<nav-vue @login="account = $event;getTokenUser($event);getHiveUser($event)"
				@logout="account = '';removeUser()" @ack="removeOp($event)" @refresh="run($event)" :op="toSign"
				:lapi="lapi" />
		</div>
		<main role="main" class="mb-auto" style="padding-top: 94px;">
			<div v-if="!account">
				<div class="container-fluid mt-2">
					<div class="container mt-2 pt-md-5">
						<div class="card p-1 p-md-3 mt-5 m-lg-5">
							<div class="card-body text-center">
								<div class="fs-2 lead mb-3">
									Login to see this page
								</div>
								<button class="fs-6 btn btn-success btn-success-lg text-black" type="button"
									data-bs-toggle="offcanvas" data-bs-target="#offcanvasUsers"
									aria-controls="offcanvasUsers"
									style="font-family: 'Lucida Console', Monaco, monospace;">login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div v-if="account" class="">
				<div class="d-flex flex-column justify-content-center bg-blur-darkg-50">
					<!-- toolbar -->
					<div class="d-flex bg-dark py-1 border-0">
						<div class="d-flex flex-wrap align-items-center ms-4 me-auto justify-content-center">
							<div class="display-6 text-honey-50 fw-bold">HONEYCOMB</div>
							<i class="fa-solid fa-atom display-6 text-honey-50 mx-1"></i>
							<div class="display-6 fw-light text-white-50">HIVE LAYER 2</div>
						</div>
						<div class="d-flex flex-wrap align-items-center ms-auto me-4 justify-content-center">

							<div class="dropdown">
								<button type="button" class="btn btn-outline-secondary dropdown-toggle mx-1"
									data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-fw fa-folder-open me-2"></i>Open
								</button>
								<ul class="dropdown-menu bg-black dropdown-menu-dark">
									<li>
										<h6 class="dropdown-header">LOCAL STORAGE</h6>
									</li>
									<li>
										<hr class="dropdown-divider mt-0 mb-1">
									</li>
									<li class="text-center lead" v-if="!pendingTokens.length">Empty</li>
									<li class="d-flex align-items-center justify-content-between"
										v-for="pend of pendingTokens">
										<a @click="loadNewToken(pend)" class="mx-1 dropdown-item rounded"
											role="button">{{pend}}</a>
										<a @click="deleteNewToken(pend)" class="mx-1 btn btn-sm btn-outline-danger"
											role="button"><i class="fa-solid fa-trash-can fa-fw"></i></a>
									</li>
								</ul>
							</div>
							<button type="button" class="btn btn-outline-info mx-1" @click="saveNewToken()"><i
									class="fa-solid fa-fw fa-floppy-disk me-2" aria-hidden="true"></i>Save</button>
							<button type="button" class="btn btn-outline-success mx-1"><i
									class="fa-solid fa-fw fa-flag-checkered me-2"
									aria-hidden="true"></i>Publish</button>
						</div>
						<!-- old 
						<div class="d-flex flex-wrap align-items-center ms-auto me-auto justify-content-center">
								<div class="display-1 fw-bold text-white-50">DLUX</div>
								<i class="fa-solid fa-atom display-1 text-honey-50 mx-1"></i>
								<div class="">
									<div class="display-6 text-honey-50 fw-bold">HONEYCOMB</div>
									<h4 class="mb-0 fw-light text-white-50">LAYER 2 FOR HIVE</h4>
								</div>
							</div> 
						-->
					</div>
					<!-- col headers -->
					<div class="d-flex">
						<div class="col-6 text-center" style="background-color: rgba(255,255,255,.3);">
							<p class="small mb-0">NEW TOKEN</p>
						</div>
						<div class="col-6 text-center" style="background-color: rgba(255, 3, 87, 0.3);">
							<p class="small mb-0">PREVIEW</p>
						</div>
					</div>
					<!-- cols -->
					<div class="d-flex">
						<div class="col-6 order-2" style="max-height: calc(100vh - 160px); overflow-y: scroll;">

							<div class="mx-2">

								<h2>Token: {{newToken.token}}</h2>
								<p class="lead">Long Name: {{newToken.longname}}</p>
								<p>Tag: {{newToken.tag}}</p>
								<p>JSON: {{newToken.jsontoken}}</p>
								<p>Prefix: {{newToken.prefix}}</p>
								<p>Precision: {{newToken.precision}}</p>
								<p>Leader: <a class="no-decoration"
										:href="'/@' + newToken.leader">@{{newToken.leader}}</a></p>
								<p>Front End: {{newToken.mainfe}}</p>
								<p>API: {{newToken.mainapi}}</p>
								<p>IPFS: {{newToken.mainipfs}}</p>
								<p v-if="newToken.featnft">Rendering API: {{newToken.mainrender}}</p>
								<p>Multi-Sig: {{newToken.ms}}</p>

								<div class="mb-3">
									<h4 class="mb-0">Options</h4>
									<hr class="my-2">
									<div class="d-flex flex-wrap">
										<div class="btn m-1"
											:class="{'btn-outline-danger disabled': !newToken.featdex, 'btn-success': newToken.featdex}">
											DEX</div>
										<div class="btn m-1"
											:class="{'btn-outline-danger disabled': !newToken.featpob, 'btn-success': newToken.featpob}">
											PoB</div>
										<div class="btn m-1"
											:class="{'btn-outline-danger disabled': !newToken.featinf, 'btn-success': newToken.featinf}">
											Inflation</div>
										<div class="btn m-1"
											:class="{'btn-outline-danger disabled': !newToken.featnft, 'btn-success': newToken.featnft}">
											NFT</div>

									</div>
								</div>

								<div class="mb-3">
									<h4 class="mb-0">Distribution</h4>
									<hr class="my-2">
									<div class="d-flex flex-wrap">

									</div>
								</div>

								<div class="mb-3">
									<h4 class="mb-0">Announcement</h4>
									<hr class="my-2">
									<div class="d-flex flex-wrap">

									</div>
								</div>



								<div class="d-none">
									<p>icon: {{newToken.icon}}</p>
									<p>description: {{newToken.des}}</p>
									<p>wp: {{newToken.wp}}</p>
									<p>ben: {{newToken.ben}}</p>

									<p>decent: {{newToken.decent}}</p>
									<p>mainrender: {{newToken.mainrender}}</p>
									<p>mainfe: {{newToken.mainfe}}</p>
									<p>startingblock: {{newToken.startingblock}}</p>

									<p>delw: {{newToken.delw}}</p>

									<p>mspubmemo: {{newToken.mspubmemo}}</p>
									<p>msprimemo: {{newToken.msprimemo}}</p>
									<p>adverts: {{newToken.adverts}}</p>
									<p>footer: {{newToken.footer}}</p>
									<p>mainico: {{newToken.mainico}}</p>
									<p>mainipfs: {{newToken.mainipfs}}</p>
									<p>hiveServiceFee: {{newToken.hiveServiceFee}}</p>




									ipfsrate: {{newToken.ipfsrate}}
									budgetrate: {{newToken.budgetrate}}
									curationrate: {{newToken.curationrate}}
									delegationrate: {{newToken.delegationrate}}
									marketingrate: {{newToken.marketingrate}}
									maxbudget: {{newToken.maxbudget}}
									noderate: {{newToken.noderate}}
									savingsrate: {{newToken.savingsrate}}
									tokensupply: {{newToken.tokensupply}}
									apyint: {{newToken.apyint}}
								</div>
							</div>
						</div>

						<div class="col-6 order-1" style="max-height: calc(100vh - 160px); overflow-y: scroll;">

							<form>
								<div class="mx-2 ">
									<!-- Decentralized? -->
									<div class="d-flex flex-column border-3 border-white-50 border-bottom pb-2 my-2">
										<div class="d-flex align-items-center ">
											<div>
												<label for="tokenDecentralized" class="lead form-label">Decentralized
												</label>
												<div id="tokenDecentralizedHelp" class="form-text">Choose whether your
													token
													is
													decentralized</div>
											</div>
											<div class="ms-auto">
												<div class="btn-group bg-dark">
													<input type="radio" name="tokenDecentralized"
														id="setYesDecentralized" autocomplete="off"
														v-model="newToken.decent" class="btn-check" :value="true">
													<label for="setYesDecentralized"
														class="btn btn-outline-primary">YES</label>
													<input type="radio" name="tokenDecentralized"
														id="setNoDecentralized" autocomplete="off"
														v-model="newToken.decent" :value="false" class="btn-check">
													<label for="setNoDecentralized"
														class="btn btn-outline-primary">NO</label>
												</div>
											</div>

										</div>
										<div v-show="!newToken.decent">
											<h4 class="accordion-header text-white">Using HoneyComb as a database for on
												chain
												actions is cool... but this form will only get you so far.</h4>
										</div>
									</div>
									<div class="accordion accordion-flush card square" id="accordionNewToken">
										<!-- token name -->
										<div class="accordion-item bg-blur-darkg-50 bg-img-none">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button"
													data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
													aria-expanded="false" aria-controls="flush-collapseOne">
													<span
														class="rounded-circle border border-2 border-white small py-05 px-1 me-1">1</span>Token
													Name
												</button>
											</h2>
											<div id="flush-collapseOne" class="accordion-collapse collapse"
												data-bs-parent="#accordionNewToken">
												<div class="accordion-body">
													<!-- Token Name -->
													<div class="mb-3">
														<label for="tokenCap" class="lead form-label">Token Name</label>
														<input required="required" type="text" placeholder="ex: DLUX"
															class="form-control bg-dark border-0 text-info"
															id="tokenCap" aria-describedby="tokenCapHelp"
															v-model="newToken.token">
														<div id="tokenCapHelp" class="form-text">Normally All Caps</div>
														<button role="button" class="btn btn-danger"
															v-if="newToken.token" @click="defaults()"><i
																class="fa-solid fa-wand-magic-sparkles me-2"></i>
															Autofill</button>
													</div>
													<!-- Long Name -->
													<div class="mb-3">
														<label for="tokenLongName" class="lead form-label">Community
															Name</label>
														<input required="required" type="text"
															placeholder="ex: Decentralized Limitless User eXperiences"
															class="form-control bg-dark border-0 text-info"
															id="tokenLongName" aria-describedby="tokenLongNameHelp"
															v-model="newToken.longname">
														<div id="tokenLongNameHelp" class="form-text">Enter the long
															name of your
															token
														</div>
													</div>
													<!-- Advanced Options -->
													<div class="accordion rounded mb-3" id="optionsAccordion"
														v-show="newToken.decent">
														<div class="accordion-item rounded bg-blur-darkg-50">
															<h2 class="accordion-header text-white">
																<button
																	class="accordion-button rounded collapsed bg-dark text-white"
																	type="button" data-bs-toggle="collapse"
																	data-bs-target="#optionsCollapse"
																	aria-expanded="false"
																	aria-controls="optionsCollapse">
																	<i class="fa-solid fa-gears fa-fw me-2"></i>Advanced
																	Options
																</button>
															</h2>
															<div id="optionsCollapse"
																class="accordion-collapse collapse"
																data-bs-parent="#optionsAccordion">
																<div class="accordion-body">

																	<!-- tag -->
																	<div class="mb-3">
																		<label for="tokenTagName"
																			class="lead form-label">Token
																			Tag
																			Name</label>
																		<input required="required" type="text"
																			:placeholder="'ex: ' + toLowerCase(newToken.token)"
																			class="form-control bg-dark border-0 text-info"
																			id="tokenTagName"
																			aria-describedby="tokenTagNameHelp"
																			v-model="newToken.tag">
																		<div id="tokenTagNameHelp" class="form-text">
																			Enter the
																			preferred tag for
																			your
																			community:
																			/{{toLowerCase(newToken.token)}}/@author/permlink
																		</div>
																	</div>
																	<!-- JSON -->
																	<div class="mb-3">
																		<label for="tokenJson"
																			class="lead form-label">Token
																			JSON</label>
																		<input required="required" type="text"
																			:placeholder="'ex: ' + toLowerCase(newToken.token)"
																			class="form-control bg-dark border-0 text-info"
																			id="tokenJson"
																			aria-describedby="tokenJsonHelp"
																			v-model="newToken.jsontoken">
																		<div id="tokenJsonHelp" class="form-text">Enter
																			the JSON
																			<i class="fa-solid fa-chain mx-1"></i> name
																			for your
																			token
																		</div>
																	</div>
																	<!-- prefix -->
																	<div class="mb-3">
																		<label for="tokenPrefix"
																			class="lead form-label">Token
																			Prefix
																		</label>
																		<input required="required" type="text"
																			:placeholder="'ex: ' + toLowerCase(newToken.token) + '_'"
																			class="form-control bg-dark border-0 text-info"
																			id="tokenPrefix"
																			aria-describedby="tokenPrefixHelp"
																			v-model="newToken.prefix">
																		<div id="tokenPrefixHelp" class="form-text">
																			Enter the
																			prefix
																			for your token
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- Options -->
										<div class="accordion-item bg-blur-darkg-50 bg-img-none">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button"
													data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
													aria-expanded="false" aria-controls="flush-collapseTwo">
													<span
														class="rounded-circle border border-2 border-white small py-05 px-1 me-1">2</span>Token
													Options
												</button>
											</h2>
											<div id="flush-collapseTwo" class="accordion-collapse collapse"
												data-bs-parent="#accordionNewToken">
												<div class="accordion-body">
													<!--Initial Account -->
													<div class="mb-3">
														<label for="tokenCreator" class="lead form-label">Initial
															Account</label>
														<div class="position-relative">
															<span
																class="position-absolute top-50 translate-middle-y ps-2">
																<i class="fa-solid fa-at fa-fw"></i>
															</span>
															<input required="required" type="text"
																aria-describedby="tokenCreatorHelp"
																class="ps-4 form-control text-info bg-dark border-0"
																:placeholder="account" id="tokenCreator"
																v-model="newToken.leader">
														</div>
														<div id="tokenCreatorHelp" class="form-text">Enter the
															creator account for
															your
															token
														</div>
													</div>
													<!--What will be this accounts public API?-->
													<div class="mb-3">
														<label for="fe" class="lead form-label">Public Front-End
														</label>
														<input required="required" type="text"
															class="form-control bg-dark border-0 text-info"
															:placeholder="this.newToken.tag + '.com'" id="fe"
															aria-describedby="tokenApiHelp" v-model="newToken.fe"
															@blur="siteDefaults()">
														<div id="feHelp" class="form-text">Enter the website the leader
															will serve content from.</div>
													</div>
													<div class="mb-3">
														<label for="mainfe" class="lead form-label">Public Front-End -
															Full
														</label>
														<input required="required" type="text"
															class="form-control bg-dark border-0 text-info"
															:placeholder="'https://' + this.newToken.tag + '.com'"
															id="mainfe" aria-describedby="tokenApiHelp"
															v-model="newToken.mainfe">
														<div id="mainfeHelp" class="form-text">Enter the full domain the
															leader will serve content from.</div>
													</div>
													<div class="mb-3">
														<label for="tokenApi" class="lead form-label">Public Token API
														</label>
														<input required="required" type="text"
															class="form-control bg-dark border-0 text-info"
															:placeholder="'https://api.' + this.newToken.tag + '.com'"
															id="tokenApi" aria-describedby="tokenApiHelp"
															v-model="newToken.mainapi">
														<div id="tokenApiHelp" class="form-text">Enter the full domain
															the leader will serve token API from.</div>
													</div>
													<div class="mb-3">
														<label for="ipfsApi" class="lead form-label">Public IPFS
														</label>
														<input required="required" type="text"
															class="form-control bg-dark border-0 text-info"
															:placeholder="'https://ipfs.' + this.newToken.tag + '.com'"
															id="ipfsApi" aria-describedby="tokenApiHelp"
															v-model="newToken.mainipfs">
														<div id="ipfsApiHelp" class="form-text">Enter the full domain
															the leader will serve IPFS.</div>
													</div>
													<div class="mb-3">
														<label for="renderApi" class="lead form-label">Public NFT /
															Content Renderer
														</label>
														<input required="required" type="text"
															class="form-control bg-dark border-0 text-info"
															:placeholder="'https://data.' + this.newToken.tag + '.com'"
															id="renderApi" aria-describedby="tokenApiHelp"
															v-model="newToken.mainrender">
														<div id="renderApiHelp" class="form-text">Enter the domain the
															leader will render PoB & NFTs from.</div>
													</div>
													<!-- Precision (default 3)-->
													<div class="mb-3">
														<label for="tokenPrecision" class="lead form-label">Token
															Precision</label>
														<input required="required" type="range" class="form-range"
															min="0" max="7" step="1" value="3" id="tokenPrecision"
															v-model="newToken.precision">
														<div id="tokenPrecisionHelp" class="form-text">Enter the
															precision for your
															token:
															{{formatNumber(1,newToken.precision, '.',',')}}
															{{newToken.token}}</div>
													</div>
													<!-- DEX -->
													<div
														class="d-flex align-items-center border-3 border-white-50 border-top pt-3 mb-3">
														<div>
															<label for="tokenFeaturesDex" class="lead form-label">DEX
															</label>
															<div id="tokenFeaturesDexHelp" class="form-text">Do you
																want
																a
																Decentralized Exchange
															</div>
														</div>
														<div class="ms-auto">
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesDex"
																	id="setYesDex" autocomplete="off"
																	:checked="newToken.featdex"
																	@click="newToken.featdex = true" class="btn-check">
																<label for="setYesDex"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesDex"
																	:checked="!newToken.featdex"
																	@click="newToken.featdex = false" id="setNoDex"
																	autocomplete="off" class="btn-check">
																<label for="setNoDex"
																	class="btn btn-outline-primary">NO</label>
															</div>
														</div>

													</div>

													<!-- PoB -->
													<div
														class="d-flex align-items-center border-3 border-white-50 border-top pt-3 mb-3">
														<div>
															<label for="tokenFeaturesPoB"
																class="lead form-label">Proof-of-Brain
															</label>
															<div id="tokenFeaturesPoBHelp" class="form-text">Do you
																want
																proof-of-brain</div>
														</div>
														<div class="ms-auto">
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesPoB"
																	:checked="newToken.featpob"
																	@click="newToken.featpob = true; newToken.featinf = true"
																	id="setYesPob" autocomplete="off" class="btn-check">
																<label for="setYesPob"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesPoB"
																	id="setNoPob" autocomplete="off"
																	:checked="!newToken.featpob"
																	@click="newToken.featpob = false" class="btn-check">
																<label for="setNoPob"
																	class="btn btn-outline-primary">NO</label>
															</div>
														</div>

													</div>
													<!-- inflation -->
													<div class="d-flex flex-column">
														<div
															class="d-flex align-items-center border-3 border-white-50 border-top pt-3 mb-3">
															<div>
																<label for="tokenFeaturesInflation"
																	class="lead form-label">Inflation
																</label>
																<div id="tokenFeaturesInflationHelp" class="form-text">
																	Do
																	you
																	want
																	inflation</div>
															</div>
															<div class="ms-auto">
																<div class="btn-group bg-dark">
																	<input type="radio" name="tokenFeaturesInflation"
																		:checked="newToken.featinf"
																		@click="newToken.featinf = true"
																		id="setYesInflation" autocomplete="off"
																		class="btn-check">
																	<label for="setYesInflation"
																		class="btn btn-outline-primary">YES</label>
																	<input type="radio" name="tokenFeaturesInflation"
																		id="setNoInflation" autocomplete="off"
																		:checked="!newToken.featinf"
																		@click="newToken.featinf = false; newToken.featpob = false"
																		class="btn-check">
																	<label for="setNoInflation"
																		class="btn btn-outline-primary">NO</label>
																</div>
															</div>
														</div>
														<div>
															<label for="tokenFeaturesInflation"
																class="lead form-label">Rate
															</label>
															<div class="position-relative mb-3">
																<input type="number" name="tokenFeaturesInflationAPY"
																	class="pe-5 form-control text-info border-dark bg-dark"
																	id="tokenFeaturesInflationAPY" min="0.1" max="200.0"
																	step="0.1" v-model="newToken.apy"
																	@blur="calculateAPR()">
																<span
																	class="position-absolute end-0 top-50 translate-middle-y px-2"><i
																		class="fa-solid fa-percent fa-fw"
																		aria-hidden="true"></i></span>
															</div>
														</div>
													</div>
													<!-- NFT -->
													<div
														class="d-flex align-items-center border-3 border-white-50 border-top pt-3 mb-3">
														<div>
															<label for="tokenFeaturesNft" class="lead form-label">NFT
															</label>
															<div id="tokenFeaturesNftHelp" class="form-text">Do you
																want
																Non-Fungible
																Tokens</div>
														</div>
														<div class="ms-auto">
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesNft"
																	id="setYesNft" autocomplete="off"
																	:checked="newToken.featnft"
																	@click="newToken.featnft = true" class="btn-check">
																<label for="setYesNft"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesNft"
																	:checked="!newToken.featnft"
																	@click="newToken.featnft = !true" id="setNoNft"
																	autocomplete="off" class="btn-check">
																<label for="setNoNft"
																	class="btn btn-outline-primary">NO</label>
															</div>
														</div>
													</div>
													<!-- hiveServiceFee -->
													<div class="mb-3">
														<label for="hsf" class="lead form-label">Hive Transaction
															Fee</label>
														<div class="position-relative mb-3">
															<input type="number" name="hsf"
																class="pe-5 form-control text-info border-dark bg-dark"
																id="hsf" min="0.0" max="10.0" step="0.01"
																v-model="newToken.preHiveServiceFee" @blur="calHSF()">
															<span
																class="position-absolute end-0 top-50 translate-middle-y px-2"><i
																	class="fa-solid fa-percent fa-fw"
																	aria-hidden="true"></i></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="accordion-item bg-blur-darkg-50 bg-img-none">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button"
													data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
													aria-expanded="false" aria-controls="flush-collapseThree">
													<span
														class="rounded-circle border border-2 border-white small py-05 px-1 me-1">3</span>Multi-Sig
													Account
												</button>
											</h2>
											<div id="flush-collapseThree" class="accordion-collapse collapse"
												data-bs-parent="#accordionNewToken">
												<div class="accordion-body">
													<!-- Which account is the Multi-sig account / Make a multi-sig account-->
													<div v-show="newToken.decent">
														<label for="tokenMultiSig" class="lead form-label">Multi-Sig
															Account
														</label>
														<div class="position-relative">
															<span
																class="position-absolute top-50 translate-middle-y ps-2">
																<i class="fa-solid fa-at fa-fw"></i>
															</span>
															<input required="required" type="text"
																aria-describedby="tokenMultiSigHelp"
																class="ps-4 form-control bg-dark border-0"
																:class="{'text-white': newAccount.fee,'text-info': !newAccount.fee}"
																v-model="newToken.ms" id="tokenMultiSig"
																@blur="newAccountDeets = true; checkAccount(newToken.ms, 'newAccountDeets')"
																:disabled="newAccount.fee">
														</div>
														<div id="tokenMultiSigHelp" class="form-text mb-2">
															Enter the multi-sig account for your
															token
														</div>
														<div class="mb-3 text-center" v-if="!newAccount.password">
															{{newAccount.msg}}
														</div>

														<div v-if="newToken.ms && !newAccountDeets">
															<!-- step 1 : generate password -->
															<div v-if="!newAccount.password"
																class="d-flex flex-column text-center mb-3">
																<div>
																	<button type="button" href="#/"
																		@click="makePassword()" class="btn btn-primary">
																		Generate Password
																	</button>
																</div>
															</div>
															<!-- step 2 : pay for account -->
															<div v-if="newAccount.password">
																<!-- Cancel Register -->
																<div
																	class="d-flex flex-wrap bg-darkg px-2 py-1 rounded mb-2">
																	<div class="me-1 my-1">
																		<div class="lead">Create New Account</div>
																		<div>{{newAccount.msg}} for {{newToken.ms}}
																		</div>
																	</div>
																	<div class="ms-auto my-1">
																		<button type="button"
																			class=" w-125 btn btn-outline-warning">Cancel</button>
																	</div>
																</div>
																<!-- use ACT -->
																<div v-if="accountinfo.pending_claimed_accounts"
																	class="d-flex flex-wrap bg-darkg px-2 py-1 rounded mb-2">
																	<div class="me-1 my-1">
																		<div class="lead">You have
																			{{accountinfo.pending_claimed_accounts}}
																			ACTs</div>
																		<div>Redeem one ACT to create the new
																			account
																		</div>
																	</div>
																	<div class="ms-auto my-1">
																		<button type="button"
																			class="w-125 btn btn-outline-success"
																			@click="createAccount(true)">Use
																			ACT</button>
																	</div>
																</div>

																<!-- claim ACT -->
																<div v-if="rcinfo.max >= rcCost.claim_account_operation"
																	class="d-flex bg-darkg flex-column px-2 py-1 rounded mb-2">
																	<div class="lead">Claim ACT</div>
																	<p class="mb-2">Account Creation Tokens (ACTs)
																		cover
																		the cost
																		of creating new
																		accounts. Claiming
																		ACTs requires Resource Credits (RCs)
																		generated by HIVE
																		Power.
																		RCs
																		regenerate every 5 days, ACTs do not expire.
																	</p>

																	<div class="progress-stacked mb-2"
																		v-if="rcinfo.current >= rcCost.claim_account_operation">
																		<div class="progress" role="progressbar"
																			aria-label="Segment one"
																			:aria-valuenow="sigFig(((rcinfo.current-rcCost.claim_account_operation)/rcinfo.max) * 100, 2)"
																			aria-valuemin="0" aria-valuemax="100"
																			:style="'width: ' + sigFig(((rcinfo.current-rcCost.claim_account_operation)/rcinfo.max) * 100, 2) + '%'">
																			<div class="progress-bar bg-primary">
																			</div>
																		</div>
																		<div class="progress" role="progressbar"
																			aria-label="Segment two"
																			:aria-valuenow="sigFig((rcCost.claim_account_operation/rcinfo.max) * 100, 2)"
																			aria-valuemin="0" aria-valuemax="100"
																			:style="'width: ' + sigFig((rcCost.claim_account_operation/rcinfo.max) * 100, 2) + '%'">
																			<div
																				class="progress-bar progress-bar-striped progress-bar-animated bg-success">
																			</div>
																		</div>
																	</div>
																	<div class="progress-stacked mb-2"
																		v-if="rcinfo.current < rcCost.claim_account_operation">
																		<div class="progress" role="progressbar"
																			aria-label="Segment one"
																			:aria-valuenow="sigFig(((rcinfo.current)/rcinfo.max) * 100, 2)"
																			aria-valuemin="0" aria-valuemax="100"
																			:style="'width: ' + sigFig(((rcinfo.current)/rcinfo.max) * 100, 2) + '%'">
																			<div
																				class="progress-bar progress-bar-striped progress-bar-animated bg-warning">
																			</div>
																		</div>
																		<div class="progress" role="progressbar"
																			aria-label="Segment two"
																			:aria-valuenow="sigFig(((rcCost.claim_account_operation-rcinfo.current)/rcinfo.max) * 100, 2)"
																			aria-valuemin="0" aria-valuemax="100"
																			:style="'width: ' + sigFig(((rcCost.claim_account_operation-rcinfo.current)/rcinfo.max) * 100, 2) + '%'">
																			<div
																				class="progress-bar progress-bar-striped progress-bar-animated bg-danger">
																			</div>
																		</div>

																	</div>
																	<div
																		class="d-flex flex-wrap align-items-center mb-2">
																		<div class="me-1 my-1">
																			<div class="d-flex align-items-center">
																				<i class="fa-solid fa-square fa-fw fs-6 me-1"
																					:class="{'text-warning': rcinfo.current < rcCost.claim_account_operation, 'text-primary': rcinfo.current >= rcCost.claim_account_operation}"></i>Available:
																				{{sigFig((rcinfo.current/rcinfo.max)
																				* 100, 2)}}%
																			</div>
																			<div class="d-flex align-items-center">
																				<i class="fa-solid fa-square fa-fw fs-6 me-1"
																					:class="{'text-danger': rcinfo.current < rcCost.claim_account_operation, 'text-success': rcinfo.current >= rcCost.claim_account_operation}"></i>Required:
																				{{sigFig((rcCost.claim_account_operation/rcinfo.max)
																				*
																				100, 2)}}%
																			</div>
																		</div>
																		<div class="ms-auto my-1">
																			<button class="w-125 btn btn-outline-info"
																				type="button" @click="claimACT()"
																				:disabled="rcinfo.current < rcCost.claim_account_operation"
																				:class="{'disabled': rcinfo.current < rcCost.claim_account_operation}">Claim
																				ACT</button>
																		</div>
																	</div>
																</div>
																<!-- pay HIVE -->
																<div
																	class="d-flex flex-wrap bg-darkg px-2 py-1 rounded mb-2">
																	<div class="me-1 my-1">
																		<div class="lead">New Account Fee</div>
																		<div>The current cost to create a new
																			account is
																			{{newAccount.fee}}</div>
																	</div>
																	<div class="ms-auto my-1">
																		<button type="button"
																			class="w-125 btn btn-outline-danger"
																			@click="createAccount(false)"><!--v-if="newAccount.password && newAccount.fee"-->
																			Pay HIVE
																		</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- distribution -->
										<div class="accordion-item bg-blur-darkg-50 bg-img-none">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button"
													data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
													aria-expanded="false" aria-controls="flush-collapseFour">
													<span
														class="rounded-circle border border-2 border-white small py-05 px-1 me-1">4</span>Distribution
												</button>
											</h2>
											<div id="flush-collapseFour" class="accordion-collapse collapse"
												data-bs-parent="#accordionNewToken">
												<div class="accordion-body">
													<label class="lead">Token Distribution</label>
													<table class="table">
														<thead>
															<tr>
																<th>Username</th>
																<th>Liquid</th>
																<th>Power</th>
																<th>Governance</th>
																<th>+/-</th>
															</tr>
														</thead>
														<tbody id="inputTableBody">
															<tr v-for="(d, acc, i) in newToken.dist">
																<td><input type="text" class="form-control"
																		placeholder="Username" v-model="acc">
																</td>
																<td><input type="number" class="form-control"
																		placeholder="Liquid" v-model="d.l"></td>
																<td><input type="number" class="form-control"
																		placeholder="Power" v-model="d.p"></td>
																<td><input type="number" class="form-control"
																		placeholder="Governance" v-model="d.g">
																</td>
																<td><button
																		@click="delete newToken.dist[acc]">-</button>
																</td>
															</tr>
															<tr>
																<td><input type="text" class="form-control"
																		placeholder="Username" v-model="nameIP"
																		@blur="newToken.dist[nameIP] = {'l':0,'p':0,'g':0}; nameIP = ''">
																</td>
																<td></td>
																<td></td>
																<td></td>
																<td><button
																		@click="newToken.dist[nameIP] = {'l':0,'p':0,'g':0}; nameIP = ''">+</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="accordion-item bg-blur-darkg-50 bg-img-none">
											<h2 class="accordion-header">
												<button class="accordion-button collapsed" type="button"
													data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
													aria-expanded="false" aria-controls="flush-collapseFive">
													<span
														class="rounded-circle border border-2 border-white small py-05 px-1 me-1">5</span>Announcement
												</button>
											</h2>
											<div id="flush-collapseFive" class="accordion-collapse collapse"
												data-bs-parent="#accordionNewToken">
												<div class="accordion-body">

													<post-vue :account="account" :prop_json="postCustom_json"
														:prop_bens="postBens" @tosign="toSign=$event" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--
													<div class="mb-3">
														<label for="tokenFeaturesDelegate"
															class="lead form-label">Delegate
														</label>
														<div>
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesDelegate"
																	id="setYesDelegate" autocomplete="off"
																	class="btn-check">
																<label for="setYesDelegate"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesDelegate"
																	id="setNoDelegate" autocomplete="off" checked
																	class="btn-check">
																<label for="setNoDelegate"
																	class="btn btn-outline-primary">NO</label>
															</div>
														</div>
														<div id="tokenFeaturesDelegateHelp" class="form-text">Do you
															want
															delegate</div>
													</div>
													<div class="mb-3">
														<label for="tokenFeaturesDaily" class="lead form-label">Daily
														</label>
														<div>
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesDaily"
																	id="setYesDaily" autocomplete="off"
																	class="btn-check">
																<label for="setYesDaily"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesDaily"
																	id="setNoDaily" autocomplete="off" checked
																	class="btn-check">
																<label for="setNoDaily"
																	class="btn btn-outline-primary">NO</label>
															</div>
														</div>
														<div id="tokenFeaturesDailyHelp" class="form-text">Do you
															want
															daily
														</div>
													</div>
													<div class="mb-3">
														<label for="tokenFeaturesLiquidity"
															class="lead form-label">Liquidity
														</label>
														<div>
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesLiquidity"
																	id="setYesLiquidity" autocomplete="off"
																	class="btn-check">
																<label for="setYesLiquidity"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesLiquidity"
																	id="setNoLiquidity" autocomplete="off" checked
																	class="btn-check">
																<label for="setNoLiquidity"
																	class="btn btn-outline-primary">NO</label>
															</div>
														</div>
														<div id="tokenFeaturesLiquidityHelp" class="form-text">Do
															you
															want
															liquidity</div>
													</div>
													<div class="mb-3">
														<label for="tokenFeaturesIco" class="lead form-label">ICO
														</label>
														<div>
															<div class="btn-group bg-dark">
																<input type="radio" name="tokenFeaturesIco"
																	id="setYesIco" autocomplete="off" class="btn-check"
																	@click="newToken.featico = true">
																<label for="setYesIco"
																	class="btn btn-outline-primary">YES</label>
																<input type="radio" name="tokenFeaturesIco"
																	id="setNoIco" autocomplete="off" checked
																	class="btn-check">
																<label for="setNoIco" class="btn btn-outline-primary"
																	@click="newToken.featico = false">NO</label>
															</div>
														</div>
														<div id="tokenFeaturesIcoHelp" class="form-text">Do you want
															ICO
														</div>
													</div>
												-->
		</main>
		<div>
			<foot-vue />
		</div>
	</div>

	<!-- Bootstrap -->
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>