<!doctype html>
<html lang="en" class="h-100">

<head>
	<title>DLUX 360° Gallery</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="manifest" href="/manifest.webmanifest">
	<link rel="apple-touch-icon" href="/img/dlux-icon-192.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-title" content="DLUX">
	<meta name="theme-color" content="#111222" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<link href="/css/custom.css" rel="stylesheet" />
	<link href="/css/smde.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script type="module" src="/js/spkvue.js"></script>
	<script src="https://kit.fontawesome.com/0f693ffc58.js" crossorigin="anonymous"></script>
	<style>
		#img-well {
			color: #FF7A5A;
			background: #FCF4D9;
			border-style: none;
			border-radius: 10px;
			border-width: 1.5px;
			border-color: #FFAB96;
		}

		#img-well.drag {
			background: #8ED2C9;
		}

		.specs {
			color: #000;
			border-style: solid;
			border-width: 1.5px;
			border-radius: 5px;
			border-color: #000;
		}

		.flex {
			display: flex;
			flex-direction: row;
		}

		.gutter {
			background-repeat: no-repeat;
			background-position: 50%;
		}

		.gutter.gutter-horizontal {
			cursor: col-resize;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
		}

		.gutter.gutter-vertical {
			cursor: row-resize;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
		}
	</style>

	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<!-- <script type="module" src="/js/vueme.js"></script> -->
</head>

<body class="d-flex flex-column h-100 padme-t70 text-center text-white">
	<div id="app">
		<div>
			<nav-vue @login="account = $event;getTokenUser($event);getHiveUser($event)"
				@logout="account = '';removeUser()" @ack="removeOp($event)" @refresh="run($event)" :op="toSign"
				:lapi="lapi" />
		</div>
		<main role="main" class="p-3 flex-shrink-0">
			<section class="flex">
				<div id="one">
					<div class="flex-column mb-4 px-3">
						<div class="flex-row">
							<h1 class="px-4 font-weight-bold">DLUX 360°</h1>
							<h1 class="px-4 font-weight-bold" style="font-variant:small-caps;">image gallery builder
							</h1>
							<hr class="bg-light">
						</div>
						<div class="flex-row text-left mt-2">
							<form>
								<div class="form-group">
									<label for="username">Author</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type="text" class="form-control" readonly id="username"
											v-model="account">
									</div>
								</div>
								<div class="form-group">
									<label for="title">Title</label>
									<input type="text" class="form-control" id="title"
										placeholder="Enter an attention grabbing title" v-model="postTitle">
									<small id="permlinkPreview" class="form-text text-muted d-flex"><span id="permlink"
											class="mr-auto">Permlink: {{postPermlink}}</span><a href="#"
											class="ml-auto">Edit Permlink</a></small>
								</div>
								<div class="form-group">
									<label for="description">Post Body</label>
									<textarea class="form-control" rows="2" id="validationCustomDescription"
										placeholder="Add a comment" required></textarea>
								</div>
								<div class="form-group">
									<label for="title">Tags</label>
									<input type="text" class="form-control" id="tags" placeholder="tags,look-like,this">
									<small id="tagsHelp" class="form-text text-muted">Add up to 4 tags, comma separated,
										no spaces</small>
								</div>
								<div class="text-center">
									<button type="button" @click="" class="btn btn-primary" data-toggle="tooltip"
										data-placement="top" title="Publish Gallery to HIVE">Publish</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="two">
					<div class="flex-column flex-shrink mx-3">
						<h3>Current File Storage</h3>
                            <div v-for="contract in saccountapi.file_contracts">
                                <ul class="text-start">
                                    <li>Contract ID: {{contract.i}}</li>
                                    <li >Size: {{contract.u}} bytes</li>
                                    <li>File Owner: @{{contract.t}}</li>
                                    <li>Service Provider: @{{contract.b}}</li>
                                    <li>Sponsor: @{{contract.f}}</li>
                                    <li>Expiration: {{contract.e}}</li>
                                    <li>Price: {{contract.r}} Broca</li>
                                    <li>Redundancy: {{contract.p}}</li>
                                    <li v-if="contract.s">Terms: {{slotDecode(contract.s, 1)}}% Bennificiary to @{{slotDecode(contract.s, 0)}}</li>
                                    <li>Status: {{contract.c == 2 ? 'Waiting For Post' : 'Decentralizing'}}</li>
                                    <li v-if="contract.df">Files:<p v-for="file in contract.df"><a :href="'https://ipfs.io/ipfs/' + file">{{file}}</a></p></li>
                                    <li v-if="contract.n">Stored by:<p v-for="acc in contract.n">@{{acc}} </p></li>
                                    <button v-if="contract.c == 2" @click="">Finalize with Post</button>
                                    <button @click="">Include in Post</button>
                                    <button v-if="contract.c == 3" @click="">Extend Contract</button>
                                </ul>
                            </div>
						<h3>Current Channel Storage</h3>
							<div v-for="sponsor in saccountapi.channels">
                                <ul class="text-start" v-for="channel in sponsor">
                                    <li>Contract ID: {{channel.i}}</li>
                                    <li v-if="channel.c == 1">Size Allowed: {{channel.a}} bytes</li>
                                    <li v-if="channel.c == 2">Size: {{channel.u}} bytes</li>
                                    <li>File Owner: @{{channel.t}}</li>
                                    <li>Service Provider: @{{channel.b}}</li>
                                    <li>Sponsor: @{{channel.f}}</li>
                                    <li>Expiration: {{channel.e}}</li>
                                    <li>Price: {{channel.r}} Broca</li>
                                    <li>Redundancy: {{channel.p}}</li>
                                    <li v-if="channel.s">Terms: {{slotDecode(channel.s, 1)}}% Bennificiary to @{{slotDecode(channel.s, 0)}}</li>
                                    <li>Status: {{channel.c == 1 ? 'Waiting For Upload' : 'Uploaded'}}</li>
                                    <li v-if="channel.df">Files:<p v-for="file in channel.df">{{file}} </p></li>
                                    <li v-if="channel.n">Stored by:<p v-for="acc in channel.n">@{{acc}} </p></li>
                                    <button v-if="channel.c == 1" @click="selectContract(channel.i, channel.b)">Select Provider</button>
                                </ul>
                            </div>
						
					</div>
				</div>
				<div id="three">
					<div class="flex-column flex-fill h-100 ml-3">
						<iframe id="aframePreview" src="https://turnkey-360-gallery.glitch.me/post.html" width="100%"
							height="100%" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
	<script>
		const GUTTER_SIZE = 100;

		const gutterStyle = dimension => ({
			'flex-basis': `${GUTTER_SIZE}px`,
		});

		const elementStyle = (dimension, size) => ({
			'flex-basis': `calc(${size}% - ${GUTTER_SIZE}px)`,
		})

		Split(['#one', '#two', '#three'], {
			sizes: [350, 350, 600],
			minSize: 200,
			elementStyle,
			gutterStyle
		});</script>
	<script>
		var simplemde = new SimpleMDE({
			element: document.getElementById("validationCustomDescription")
		});
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			"use strict";
			window.addEventListener(
				"load",
				function () {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to
					var forms = document.getElementsByClassName("needs-validation");
					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function (form) {
						form.addEventListener(
							"submit",
							function (event) {
								console.log("button");
								if (
									document.getElementById("validationCustomDescription")
										.innerHTML == "Sign In"
								) {
									sendLink("/auth");
								}
								var tagField = document.getElementById(
									"validationCustomReferal"
								).value;
								var tags = tagField.split(",").map(item => item.trim());
								let otherTags = tags.slice(0, 4);
								var customJSON = JSON.stringify({
									tags: otherTags,
									subApp: "SuperCraftLoader/v0.1",
									xr: false,
									vrHash: "QmTzKnzxEm3ZXcqFMxytt3fnJZvSSvtRnMCZTuzzMxwG7y",
									superCraft: document.getElementById(
										"validationCustomLoader"
									).value
								});
								var postData = {
									title: document.getElementById("validationCustomTitle")
										.value,
									message: document.getElementById(
										"validationCustomDescription"
									).value,
									customJSON: customJSON
								};
								console.log(postData);
								if (form.checkValidity() === false) {
									event.preventDefault();
									event.stopPropagation();
								} else {
									window.parent.postMessage(
										{
											func: "advPost",
											message: postData
										},
										"*"
									);
								}
								form.classList.add("was-validated");
							},
							false
						);
					});
				},
				false
			);
		})();
      //onpageloaded();
	</script>
	<script>

		var custom_json = {
			"app": "dlux/0.0.9",
			"xr": true,
			"Hash360": "",
			"format": "markdown",
			"assets": [
			],
			"tags": [
				"dlux"
			],
			"vrHash": "QmNby3SMAAa9hBVHvdkKvvTqs7ssK4nYa2jBdZkxqmRc16"
		},
			permlink
		function iloaded(assets, info) {
			if (assets) {
				for (var i = 0; i < assets.length; i++) {
					custom_json.assets.push({
						hash: assets[i].hash,
						name: assets[i].path,
						size: assets[i].size,
						pin: true,
						type: "ts",
						thumbHash: assets[i].hash
					})
					if (!custom_json.Hash360) {
						custom_json.Hash360 = assets[i].hash
					}
				}
			}
			hive.api.getContent('markegiles', 'dlux-vr-tutorial-sm-test', function (err, result) {
				result.json_metadata = JSON.stringify(custom_json)
				var target = document.getElementById('aframePreview').contentWindow
				var un = 'Guest'
				if (localStorage.getItem('user')) { un = localStorage.getItem('user') }
				target.postMessage({
					'func': 'iAm',
					'message': un,
				}, "*");
				target.postMessage({
					'func': 'key',
					'message': 'markegiles/dlux-vr-tutorial-sm-test',
				}, "*");
				target.postMessage({
					'func': 'hiveState',
					'message': result,
				}, "*");
			})
			buildList()
		}
		
		function permlink(text) {
			if (text) {
				text.replace(/[\W_]+/g, '-').replace(' ', '-').toLowerCase()
				text = text.replace(' ', '-')
				text = text.replace(/[\W_]+/g, '')
				text = text.toLowerCase()
				document.getElementById('permlink').innerText = `permlink: ${text}`
				permlink = text
			} else {
				text = document.getElementById('title').value
				text = text.replace(' ', '-')
				text = text.replace(/[\W_]+/g, '-')
				text = text.toLowerCase()
				document.getElementById('permlink').innerText = `permlink: ${text}`
				permlink = text
			}
		}

		function post() {
			var tags = document.getElementById('tags').value.toLowerCase().split(',')
			custom_json.tags = ['dlux']
			for (i = 0; i < tags.length; i++) {
				if (tags[i] != 'dlux') {
					custom_json.tags.push(tags[i].replace(/[\W_]+/g, '-'))
				}
			}
			console.log(custom_json.tags)
			if (localStorage.getItem('user')) {
				const operations = [["comment",
					{
						"parent_author": "",
						"parent_permlink": "dlux",
						"author": localStorage.getItem('user'),
						"permlink": permlink,
						"title": document.getElementById('title').value,
						"body": simplemde.value() + `\n***\n#### [View in VR @ dlux.io](https://dlux.io/dlux/@${localStorage.getItem('user')}/${permlink})\n`,
						"json_metadata": JSON.stringify(custom_json)
					}],
				["comment_options",
					{
						"author": localStorage.getItem('user'),
						"permlink": permlink,
						"max_accepted_payout": "1000000.000 HBD",
						"percent_hbd": 10000,
						"allow_votes": true,
						"allow_curation_rewards": true,
						"extensions":
							[[0,
								{
									"beneficiaries":
										[{
											"account": "dlux-io",
											"weight": 1000
										}]
								}]]
					}]]
				hive_keychain.requestBroadcast(localStorage.getItem('user'), operations, 'active', function (response) {
					console.log(response);
				});
			} else {
				alert('Please Log In')
			}
		}
	</script>
	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

</body>

</html>