$light-1: #e7eef4 !default;
$light-2: #e5edf4 !default;
$light-3: #cdd9e0 !default;
$light-4: #bac4ca !default;

$dark-1: #282C31 !default;
$dark-2: #242e39 !default;
$dark-3: #08233c !default;
$dark-4: #565c62 !default;

$highlight-1: #2F7AD0 !default;