$bg-light-1: #e7eef4 !default;
$bg-light-2: #e5edf4 !default;
$bg-light-3: #cdd9e0 !default;

$bg-dark-1: #101419 !default;
$bg-dark-2: #242e39 !default;

$border-dark-1: #101419 !default;

$text-light-1: #e7eef4 !default;

$text-dark-1: #101419 !default;

$hover-1: #2F7AD0 !default;