@import "../bootswatch/quartz/_variables.scss";
@import "../bootstrap/bootstrap.scss";
@import "../bootswatch/quartz/_bootswatch.scss";

/* CSS Document */
body {
  background-color: #001a33;
}
[v-cloak] {
  display: none !important;
}
.vh100 {
  height: 100vh;
}
.no-decoration {
  text-decoration: none;
}

.alert-fusch::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  content: "";
  background-color: #fb00ff;
}

.btn-hivekeychain {
  color: #fff;
  background-color: rgb(32, 36, 51);
}

.btn-hiveauth {
  color: #fff;
  background: #404244;
}

.btn-hivesigner {
  color: #000;
  background: #d1d5da;
}

.btn-pen {
  color: #000;
  background: #212529;
}

.btn-hivekeychain:hover {
  color: #fff;
  background-color: rgba(32, 36, 51, 0.453);
}

.btn-hiveauth:hover {
  color: #fff;
  background: #40424483;
}

.btn-hivesigner:hover {
  color: #000;
  background: #d1d5daa3;
}

.btn-pen:hover {
  color: #000;
  background: #2125299a;
}

.bg-darkest {
  background-color: #1a1e20;
}

.center-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.shimmer {
  color: #000;
  background-image: linear-gradient(45deg,
      rgb(194, 255, 182), rgb(255, 163, 182), rgb(221, 169, 255), rgb(162, 209, 255))
}

.max-80 {
  max-width: 80px;
}

.max-134 {
  max-height: 134px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.featured-img {
  width: 600px;
  height: 330px;
  object-fit: cover;
}

.banner-img {
  max-height: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .banner-img {
    min-height: 200px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

@media (max-width: 600px) {
  .w-sm-100 {
      width: 100%;
  }
}
.text-hbd {
  color: green;
}

.text-hive {
  color: red;
}

.text-token {
  color: yellow;
}

.text-tokenp {
  color: blue;
}

.text-tokeng {
  color: cyan;
}

[v-cloak] {
  display: none;
}

.padme-t70 {
  padding-top: 70px;
}

.bg-darker {
  background-color: #212529;
}

.cover { 
  object-fit: cover;
}
.nft-img {
  overflow: hidden;
}
.bg-darkg {
  background-color: #343a40 !important;
}

.border-darkg {
  border-color: #343a40 !important;
}

.bg-indigo {
  background-color: #6610f2;

}
.border-light-50 {
  border-color: rgba(255,255,255,0.5) !important;
}

.col-sort {
  background-color: #154e4c !important;
}

.tbody-scroll-orders {
  display: block;
  height: 400px;
  overflow: auto;
}

.tbody-scroll-history {
  display: block;
  max-height: 600px;
  overflow: auto;
}

.tbody-scroll-nodes {
  display: block;
  max-height: 600px;
  overflow: auto;
}

.tbody-scroll-nolimit {
  display: block;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td {
  padding: 0.75em !important;
}

.btn-rb,
.btn-rb:hover,
.btn-rb:active,
.btn-rb:visited {
  background: linear-gradient(45deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(45deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82) 1;
}
.btn-rb::after{
  border-radius: 20px;
}

.btn-outline-rb {
  position: relative;
  padding: 0.25em 0.5em;
  display: inline-block;
  font-size: 0.875em;
  background: linear-gradient(45deg,
  #f79533,
  #f37055,
  #ef4e7b,
  #a166ab,
  #5073b8,
  #1098ad,
  #07b39b,
  #6fba82);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

color: linear-gradient(45deg,
#f79533,
#f37055,
#ef4e7b,
#a166ab,
#5073b8,
#1098ad,
#07b39b,
#6fba82);
}

.btn-outline-rb::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.6em;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(45deg,
  #f79533,
  #f37055,
  #ef4e7b,
  #a166ab,
  #5073b8,
  #1098ad,
  #07b39b,
  #6fba82);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
}
.btn-outline-rb:active {
  border-color: #000;
}


.border-rb {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(45deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82) 1;
}

.background-rb {
  background: linear-gradient(45deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  color: #000;
  border: none;
}
.nft-header {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nft-header:first-child > span { margin-right: auto; }

.nft-header:last-child  > span { margin-left: auto;  }

.e-radius-hotfix {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.s-radius-hotfix {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}
.bottom-shadow {
  box-shadow: 0 4px 2px -2px black;
}
.top-shadow {
  box-shadow: 0 -6px 4px -5px black;
}
.max-160 {
  max-width: 160px;
}
.bg-img-none {
  background-image: none !important;
}
.bg-blur-none {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}
.no-shadow{
  box-shadow: none !important;
  border-top-color: rgba(255,255,255,0.4) !important;
  border-right-color: rgba(255,255,255,0.4) !important;
  border-bottom-color: rgba(255,255,255,0.4) !important;
}
.btn-sm {
  height:31px;
}
.bg-blur{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.bg-blur-darkg {
  background-color: rgba(#343a40, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.bg-blur-darkg-50 {
  background-color: rgba(#343a40, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.dnav {
  background-color: rgba(42, 48, 54, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.table-blur {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.modal-content {
  background-color: rgba(42, 48, 54, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.nav-blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

#imagesMain {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
}

.w-40p {
  width: 40px;
}

.w-32p {
  width: 32px;
}

.caption {
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.75);
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imagebox:hover .caption {
  opacity: 1;
  text-align: justify;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  padding: 30px;
}
.bg-special {
  background-image: linear-gradient(to right,
                    rgb(194, 255, 182),
                    rgb(255, 163, 182),
                    rgb(221, 169, 255),
                    rgb(162, 209, 255));
}

.choices {
  margin-bottom: 0px !important;
}
.choices__inner {
  background-color: #212529 !important;
  border-color: rgba(255, 255, 255, 0.4) !important;
  border-radius: .5rem !important;
}

.choices__input {
  background-color: #212529 !important;
}

.choices__list {
  background-color: #212529 !important;
  border-radius: .5rem !important;
}

.is-highlighted {
  background-color: #033efd !important;
}

.gradient-border {
  --borderWidth: 10px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.wallet-accordion {

  --bs-accordion-border-color: clear !important;
  --bs-accordion-active-bg: clear !important;
  --bs-accordion-btn-color: #000000;
  --bs-accordion-active-color: #000000;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}
.force-parent-lh {
  line-height: inherit !important;
}
.square {
  border-radius: 0px;
}
.bg-danger-50 {
  background-color: rgba(252, 52, 111, .7);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-success-50 {
  background-color: rgba(65, 215, 167, .7);
}
.bg-primary-50 {
  background-color: rgba(58, 143, 217, .7);
}
.bg-info-50 {
  background-color: rgba(57, 203, 251, .7);
}
.bg-warning-50 {
  background-color: rgba(255, 193, 7, .7);
}
.px-05 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}
.ps-05 {
  padding-left: 0.25em !important;
}
.pe-05 {
  padding-right: 0.25em !important;
}

.py-05 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.pt-05 {
  padding-top: 0.25em !important;
}
.pb-05 {
  padding-bottom: 0.25em !important;
}
.p-05 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}

.rep-success {
  border-color: rgba(#41D7A7, .5) !important;
  box-shadow: inset 0px 0px 5px 1px #41D7A7;
}
.rep-warning {
  border-color: rgba(#ffc107, .5) !important;
  box-shadow: inset 0px 0px 5px 1px #ffc107;
}
.rep-danger {
  border-color: rgba(#FC346F, .5) !important;
  box-shadow: inset 0px 0px 5px 1px #FC346F;
}

.bg-ascene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  touch-action: none;
  cursor: grab;
}
a-scene {
  width: 100%;
  height: 100vh;
}
.a-modal {display: none;}
.a-enter-vr {display: none;}
.front {
  z-index: 1;
}

#logo {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 999;
  background-size: cover;
  touch-action: pan-y;
}

#dapps {
  min-height: 600px;
  width: 100%;
  position: relative;
  z-index: 999;
  background-size: cover;
  touch-action: pan-y;
}

#defi {
  width: 100%;
  position: relative;
  z-index: 999;
  background-size: cover;
  touch-action: pan-y;
  min-height: 600px;
}

#hive-chain {
  width: 100%;
  position: relative;
  z-index: 999;
  background-size: cover;
  touch-action: pan-y;
  min-height: 600px;
}

#info {
  width: 100%;
  position: relative;
  z-index: 999;
  background-size: cover;
  touch-action: pan-y;
  min-height: 600px;
}

.pin-number:hover {
  background: #535353;
}

.pin-number:active {
  background: #cecece;
  color:#000;
}

.dlux-header {
  border-bottom: solid;
  border-bottom-color: gray;
  border-width: 2px;
}

.dlux-is {
  text-decoration: underline;
  text-decoration-color: white;
}

.dlux-turq {
  color: #0ed18c;
  border-color: #0ed18c;
  border-style: solid;
  border-width: 2px;
}
.text-turq {
  color: #0ed18c;
}
.border-turq {
  border-color: #0ed18c !important;
}

.btn-turq {
  color: #fff;
  background: #0ed18c;
}
.btn-turq:hover {
  color: #fff;
  background: #0ed18d59;
}

.btn-outline-turq {
  color: #fff;
  border-color: #14d695;
 
}

.btn-outline-turq:hover {
  color: #fff;
  border-color: #14d695;
  background: #0ed18d3e;
}

.dlux-blue {
  color: #033efd;
  border-color: #033efd;
  border-style: solid;
  border-width: 2px;
}

.text-blue {
  color: #033efd;
}
.border-blue {
  border-color: #033efd !important;
}
.border-orange {
  border-color: orangered !important;
}

.btn-outline-orange {
  color: #fff;
  border-color: orangered !important;
}

.btn-outline-orange {
  color: #fff;
  border-color: orangered !important;
  background: rgba(255, 68, 0, 0.226);
}

.btn-blue {
  color: #fff;
  background: #033efd;
}

.btn-outline-blue {
  color: #fff;
  border-color: #033efd;
}

.btn-outline-blue:hover {
  color: #fff;
  border-color: #033efd;
  background: #033dfd3a;
}

.dlux-fusch {
  color: #fb00ff;
  border-color: #fb00ff;
  border-style: solid;
  border-width: 2px;
}
.text-fusch {
  color: #fb00ff;
}
.border-fusch {
  border-color: #fb00ff !important;
}

.btn-fusch {
  color: #fff;
  background: #fb00ff;
}
.btn-fusch:hover {
  color: #fff;
  background: #fb00ff8e;
}

.btn-outline-fusch {
  color: #fb00ff;
  border-color: #fb00ff;
}
.btn-outline-fusch:hover {
  color: #fff;
  border-color: #fb00ff;
  background: #fb00ff3b;
}

.dlux-tang {
  color: #ffa300;
  border-color: #ffa300;
  border-style: solid;
  border-width: 1.5px;
}
.text-tang {
  color: #ffa300;
}
.border-tang {
  border-color: #ffa300;
}

.btn-tang {
  color: #fff;
  background: #ffa300;
}

.btn-outline-tang {
  color: #fff;
  border-color: #ffa300;
}

.dlux-purp {
  color: #9300ff;
  border-color: #9300ff;
  border-style: solid;
  border-width: 2px;
}
.text-purp {
  color: #9300ff;
}
.border-purp {
  border-color: #9300ff;
}

.btn-purp {
  color: #fff;
  background: #9300ff;
}

.btn-outline-purp {
  color: #fff;
  border-color: #9300ff;
}

.hive {
  color: #e31337;
  border-color: #e31337;
  border-style: solid;
  border-width: 1.5px;
}
// HONEY ELEMENTS
.text-honey {
  color: #EBA937 !important;
}
.text-honey-50 {
  color: #eba937da !important;
}
.border-honey {
  border-color: #EBA937 !important;
}
.border-honey-glow {
  border-color: #EBA937 !important;
  box-shadow: inset 0px 0px 10px 5px rgba(235,169,55, 0.3);
}
.btn-honey {
  color: #fff !important;
  background: #EBA937 !important;
}
.btn-honey:hover {
  background: #b07f2a !important;
}
.btn-outline-honey {
  color: #fff !important;
  border-color: #EBA937 !important;
}

.btn-outline-honey:hover {
  color: #fff !important;
  border-color: #EBA937 !important;
  background: #b07f2a3e !important;
}
// HIVE ELEMENTS
.text-hive {
  color: #e31337 !important;
}
.bg-hive {
  background-color: #e31337 !important;
}
.border-hive {
  border-color: #e31337 !important;
}
.border-hive-glow {
  border-color: #e31337 !important;
  box-shadow: inset 0px 0px 10px 5px rgba(227,19,55, 0.3);
}
.btn-hive {
  color: #fff !important;
  background: #e31337 !important;
}
.btn-hive:hover {
  background: #b5102b !important;
}
.btn-outline-hive {
  color: #fff !important;
  border-color: #e31337 !important;
}
// HBD ELEMENTS
.text-hbd {
  color: #00960f !important;
}
.bg-hbd {
  background-color: #00960f !important;
}
.border-hbd {
  border-color: #00960f !important;
}
.border-hbd-glow {
  border-color: #00960f !important;
  box-shadow: inset 0px 0px 10px 5px rgba(0,150,15, 0.3);
}
.btn-hbd {
  color: #fff !important;
  background: #00960f !important;
}
.btn-hbd:hover {
  background: #01670b !important;
}
.btn-outline-hbd {
  color: #fff !important;
  border-color: #00960f !important;
}
.filter-bubble {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
}
.btn-dlux {
  min-width: 150px;
}

.btn-dlux:hover {
  color: cornflowerblue;
}

.btn-dlux:active {
  color: darkorange;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.side-nav li {
  font-size: 1.4em;
  padding: 10px;
  cursor: pointer;
}

.side-nav li:hover {
  background-color: #495057;
}

.side-nav i {
  margin-right: 10px;
}

.jumbo-dlux {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  max-width: 600px;
}

[style*="--aspect-ratio"]> :first-child {
  width: 100%;
}

[style*="--aspect-ratio"]>img {
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }

  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }

  [style*="--aspect-ratio"]> :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .truncate1 {
    text-overflow: "Read More";
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .truncate2 {
    text-overflow: "Read More";
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  div.behavemark img {
    max-width: 100%;
  }
}
.btn-blue {
  --bs-btn-color: #fff;
  --bs-btn-bg: $blue;
  --bs-btn-border-color: $blue;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c52b6f;
  --bs-btn-hover-border-color: #ba2869;
  --bs-btn-focus-shadow-rgb: 235, 81, 150;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ba2869;
  --bs-btn-active-border-color: #ae2662;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e83283;
  --bs-btn-disabled-border-color: #e83283;
}
.btn-outline-warning {
  --bs-btn-active-color: #000;
}

// HUB Banner Vertical Scroll
$scroll-count: 5;
$scroll: 1 / $scroll-count;

.box {
  height: 60px;
  overflow: hidden;
  position: relative;
  padding-right: 0px;
  margin-right: 0px;
}

ul.scroll {
  margin: 0;
  padding: 0;
  animation: scrollUp 4s 1s infinite forwards;
  li.scroll {
    opacity: 1;
    height: 80px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    text-align: right;
  }
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY((-100% / $scroll-count) * ($scroll-count - 1));
  }
}

.dropdown-menu {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 86px);
}

[data-bs-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-bs-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}
#files-table tbody > tr:last-child > td {
  border-bottom: 0;
}
.click-me:hover {
  cursor: pointer;
}