<!doctype html>
<html lang="en" class="h-100">

<head>
	<title>DLUX SPK Hosting</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="manifest" href="/manifest.webmanifest">
	<link rel="apple-touch-icon" href="/img/dlux-icon-192.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-title" content="DLUX">
	<meta name="theme-color" content="#111222" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
	<link href="/css/custom.css" rel="stylesheet" />
	<link href="/css/smde.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/@hiveio/hive-js/dist/hive.min.js"></script>
	<script src="https://kit.fontawesome.com/0f693ffc58.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/marked@0.3.6"></script>
	<script src="https://unpkg.com/lodash@4.16.0"></script>
	<script type="text/javascript" src="/js/onlyhash.js"></script>
	<script src="/js/buffer.js"></script>
	<script src="/js/drag-drop.js"></script>
	<script type="module" src="/js/spkvue.js"></script>
</head>

<body class="container h-100 padme-t70 text-center text-white">
	<div id="app" @dragover.prevent @drop.prevent>
		<div>
			<nav-vue @login="account = $event;getTokenUser($event);getHiveUser($event)"
				@logout="account = '';removeUser()" @ack="removeOp($event)" @refresh="run($event)" :op="toSign"
				:lapi="lapi" />
		</div>
		<main role="main" class="p-3 flex-shrink-0">
			<section class="flex">
				<div id="one">
					<div class="flex-column mb-4 px-3">
						<div class="flex-row">
							<h1 class="px-4 font-weight-bold">DLUX</h1>
							<h1 class="px-4 font-weight-bold" style="font-variant:small-caps;">File Hosting
							</h1>
							<p class="lead">Upload your assets here, and select an available SPK hosting contract to pin
								your files on IPFS.</p>

							<hr class="bg-light">
						</div>
						<div class="mt-2">
							<form>
								<ul class="text-center ms-auto me-auto col-md-8 col-lg-6 col-xl-4">
									<h3><u>Contract Types</u></h3>
									<li class="text-start">Direct: you pay for hosting now</li>
									<li class="text-start">Sponsored: free hosting with beneficiary
										fee</li>
								</ul>
								<div class="col-md-6 ms-auto me-auto">

									<div class="form-group mb-3">
										<div class="d-flex align-items-center mb-3">
											<label for="username">Client</label>
											<div class="ms-auto" style="visibility: hidden;">
												<div class="btn-group"><input type="radio" name="" id=""
														autocomplete="off" checked="checked" class="btn-check">
													<label for="" class="btn btn-outline-warning">
														SIMPLE
													</label> <input type="radio" name="" id="" autocomplete="off"
														class="btn-check"> <label for=""
														class="btn btn-outline-warning">
														SPONSORED
													</label>
												</div>
											</div>
										</div>
										<div class="input-group">

											<span
												class="input-group-text bg-darkg border-secondary text-white-50 l-radius-hotfix">@</span>

											<input type="text" class="form-control bg-darkg border-secondary text-info"
												readonly id="username" v-model="account">
										</div>
									</div>

									<div class="form-group mb-3">
										<div class="d-flex align-items-center mb-3">
											<label for="title">Provider</label>
											<div class="ms-auto">
												<div class="btn-group"><input type="radio" name="contractType"
														@click="simple.checked = true; sponsored.checked = false"
														id="simple" autocomplete="off" checked="checked"
														class="btn-check" :checked="simple.checked"> <label for="simple"
														class="btn btn-outline-warning">
														DIRECT
													</label> <input type="radio" name="contractType" id="sponsored"
														@click="simple.checked = false; sponsored.checked = true"
														autocomplete="off" class="btn-check"
														:checked="sponsored.checked"> <label for="sponsored"
														class="btn btn-outline-warning">
														SPONSORED
													</label>
												</div>
											</div>
										</div>
										<div v-if="simple.checked">
											<input class="form-control bg-darkg border-secondary text-info"
												list="datalistOptions1" id="simpleContracts"
												placeholder="Type to search direct contracts...">
											<datalist id="datalistOptions1">
												<option value="High"></option>
												<option value="Average"></option>
												<option value="Low"></option>
												<option value="Custom"></option>
											</datalist>
										</div>
										<div v-if="sponsored.checked">
											<input class="form-control bg-darkg border-secondary text-info"
												list="datalistOptions2" id="sponsoredContracts"
												placeholder="Type to search sponsored contracts...">
											<datalist id="datalistOptions2">
												<option value="San Francisco"></option>
												<option value="New York"></option>
												<option value="Seattle"></option>
												<option value="Los Angeles"></option>
												<option value="Chicago"></option>
											</datalist>
										</div>
									</div>


									<div>
										<!-- v-if=provider selected -->
										<p class="text-start text-white-50 small">@threespk.voter is placing 1000 BROCA to store up to 10GB of data. You must make a post on the hive blockchain with 10% beneficiary to @threespk.voter with-in 24 hours for this storage contract to be inforce. </p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="two">
					<div class="flex-column flex-shrink mx-3">
						<div style="border-style:solid;">
							<form>
								<input id="fileInput" type="file" @change="uploadFile" multiple />
								<div @drop="dragFile" style="background-color:green;margin-bottom:10px;padding:10px;">
									Or drag the file here
								</div>
							</form>
							<div v-if="File.length">
								<button @click="upload()">Sign and Upload</button>
							</div>
						</div>
						<div id="listOfImgs" v-for="file in File">
							<div class="p-3 mb-3 bg-dark" style="border-radius: 10px;">
								<div class="d-flex align-items-center flex-row pb-2 mb-2"
									style="border-bottom-style: solid; border-bottom-color: #909090">
									<div class="d-flex">
										<h6>{{file.name}}</h6>
									</div>
									<div class="ml-auto"><button type="button" @click="togglePin(index)"
											class="btn ${btnclass} btn-sm mr-2" data-toggle="tooltip"
											data-placement="top" title="Asset Pinned to IPFS"><i
												class="fas fa-fw fa-thumbtack"></i></button><button
											class="btn btn-danger btn-sm" @click="deleteImg(index)"
											data-toggle="tooltip" data-placement="top" title="Delete Asset"><i
												class="fas fa-fw fa-trash-alt"></i></button></div>
								</div>
								<div class="d-flex flex-row">
									<div>
										<div class="small">
											<ls>
												<li>Bytes: {{file.size}}</li>
												<li>CID: {{FileInfo[file.name].hash}}</li>
												<li>
													<div class="progress" role="progressbar"
														aria-label="Example with label" aria-valuenow="25"
														aria-valuemin="0" aria-valuemax="100">
														<div class="progress-bar"
															:style="'width: ' + FileInfo[file.progress]*100 + '%'">
															{{file.progress*100}}%</div>
													</div>
												</li>
											</ls>
										</div>
									</div>
									<div v-if="FileInfo[file.name].uploaded">
										<div><img :src="'https://ipfs.dlux.io/ipfs/' + FileInfo[file.name].hash"
												width="100%" /></div>
										<div class="small"><a
												:href="'https://ipfs.dlux.io/ipfs/' + FileInfo[file.name].hash"
												target="_blank">https://ipfs.io/ipfs/{{FileInfo[file.name].hash}}</a>
										</div>
									</div>
									<div v-if="File.length">
										<button v-if="file.actions.pause" @click="pause(file.cid)">Pause</button>
										<button v-if="file.actions.resume" @click="resume(file.cid)">Resume</button>
										<button v-if="file.actions.cancel" @click="abort(file.cid)">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script src="/js/img-ipfs.js"></script>

	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			"use strict";
			window.addEventListener(
				"load",
				function () {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to
					var forms = document.getElementsByClassName("needs-validation");
					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function (form) {
						form.addEventListener(
							"submit",
							function (event) {
								console.log("button");
								if (
									document.getElementById("validationCustomDescription")
										.innerHTML == "Sign In"
								) {
									sendLink("/auth");
								}
								var tagField = document.getElementById(
									"validationCustomReferal"
								).value;
								var tags = tagField.split(",").map(item => item.trim());
								let otherTags = tags.slice(0, 4);
								var customJSON = JSON.stringify({
									tags: otherTags,
									subApp: "SuperCraftLoader/v0.1",
									xr: false,
									vrHash: "QmTzKnzxEm3ZXcqFMxytt3fnJZvSSvtRnMCZTuzzMxwG7y",
									superCraft: document.getElementById(
										"validationCustomLoader"
									).value
								});
								var postData = {
									title: document.getElementById("validationCustomTitle")
										.value,
									message: document.getElementById(
										"validationCustomDescription"
									).value,
									customJSON: customJSON
								};
								console.log(postData);
								if (form.checkValidity() === false) {
									event.preventDefault();
									event.stopPropagation();
								} else {
									window.parent.postMessage(
										{
											func: "advPost",
											message: postData
										},
										"*"
									);
								}
								form.classList.add("was-validated");
							},
							false
						);
					});
				},
				false
			);
		})();
      //onpageloaded();
	</script>
	<script>

		var custom_json = {
			"app": "dlux/0.0.9",
			"xr": true,
			"Hash360": "",
			"format": "markdown",
			"assets": [
			],
			"tags": [
				"dlux"
			],
			"vrHash": "QmNby3SMAAa9hBVHvdkKvvTqs7ssK4nYa2jBdZkxqmRc16"
		},
			permlink
		function saveToIpfs(ar, pin, is360, newAsset) {
			console.log(`You've requested to upload and pin(${pin}) 360(${is360}) image(s) and create assets(${newAsset})\nIPFS maky take some time to upload...`)
			var ipfsIP = []
			var info = []
			for (var name in ar) {
				ipfsIP.push({ 'path': `${ar[name][1]}`, 'content': ar[name][0] })
				info.push([name, ar[name][1]])
			}
			ipfs.add(ipfsIP, (err, ipfsReturn) => {
				if (!err) {
					iloaded(ipfsReturn, info)
				} else {
					console.log('IPFS Upload Failed', err)
				}
			})
		}
		function iloaded(assets, info) {
			if (assets) {
				for (var i = 0; i < assets.length; i++) {
					custom_json.assets.push({
						hash: assets[i].hash,
						name: assets[i].path,
						size: assets[i].size,
						pin: true,
						type: "ts",
						thumbHash: assets[i].hash
					})
					if (!custom_json.Hash360) {
						custom_json.Hash360 = assets[i].hash
					}
				}
			}
			hive.api.getContent('markegiles', 'dlux-vr-tutorial-sm-test', function (err, result) {
				result.json_metadata = JSON.stringify(custom_json)
				var target = document.getElementById('aframePreview').contentWindow
				var un = 'Guest'
				if (localStorage.getItem('user')) { un = localStorage.getItem('user') }
				target.postMessage({
					'func': 'iAm',
					'message': un,
				}, "*");
				target.postMessage({
					'func': 'key',
					'message': 'markegiles/dlux-vr-tutorial-sm-test',
				}, "*");
				target.postMessage({
					'func': 'hiveState',
					'message': result,
				}, "*");
			})
			buildList()
		}
		function buildList() {
			document.getElementById('listOfImgs').innerHTML = ``
			for (var i = 0; i < custom_json.assets.length; i++) {
				const img = custom_json.assets[i]
				if (img.type == 'ts') {
					var btnclass = 'btn-primary'
					if (!img.pin) {
						btnclass = 'btn-outline-primary'
					}
					var item = document.createElement('div')
					item.id = `item${i}`
					item.class = `p-3 mb-3 bg-dark`
					item.setAttribute('style', 'border-radius', '10px')
					item.innerHTML = `
				<div id="image${i}" class="p-3 mb-3 bg-dark" style="border-radius: 10px;">
				<div class="d-flex align-items-center flex-row pb-2 mb-2" style="border-bottom-style: solid; border-bottom-color: #909090">
					<div class="d-flex"><input id="nameOf${img.hash}" class="form-control form-control-sm mr-2" type="text" value="${img.name}" disabled><button onclick="toggleNameEdit('${img.hash}')" class="btn btn-secondary btn-sm ml-auto" data-toggle="tooltip" data-placement="top" title="Edit Name"><i id="editName${img.hash}" class="fas fa-fw fa-pencil-alt"></i></button></div>
					<div class="ml-auto"><button type="button" onclick="togglePin('${img.hash}')" class="btn ${btnclass} btn-sm mr-2" data-toggle="tooltip" data-placement="top" title="Asset Pinned to IPFS"><i class="fas fa-fw fa-thumbtack"></i></button><button class="btn btn-danger btn-sm" onclick="deleteImg('${img.hash}')" data-toggle="tooltip" data-placement="top" title="Delete Asset"><i class="fas fa-fw fa-trash-alt"></i></button></div>
				</div>
				<div class="d-flex flex-row">
		  		<div id="source${i}">
					<div><img id="sImg${i}" src="https://ipfs.io/ipfs/${img.hash}" width="100%"/></div>
					<div class="small"><a href="https://ipfs.io/ipfs/${img.hash}" id="sHashImg${i}" target="_blank">https://ipfs.io/ipfs/${img.hash}</a></div>
		  		</div>
			</div>
				`
					document.getElementById('listOfImgs').appendChild(item)
				}
			}
		}
		function togglePin(hash) {
			for (var i = 0; i < custom_json.assets.length; i++) {
				const img = custom_json.assets[i]
				if (img.hash == hash) {
					if (img.pin) { custom_json.assets[i].pin = false }
					else { custom_json.assets[i].pin = true }
				}
			}
			buildList()
		}
		function deleteImg(hash) {
			for (var i = 0; i < custom_json.assets.length; i++) {
				const img = custom_json.assets[i]
				if (img.hash == hash) {
					custom_json.assets.splice(i, 1)
				}
			}
			//buildList ()
			iloaded()
		}
		function toggleNameEdit(hash) {
			var enabled = document.getElementById(`nameOf${hash}`).disabled
			document.getElementById(`nameOf${hash}`).disabled = !enabled
			document.getElementById(`editName${hash}`).setAttribute('class', 'fas fa-fw fa-check')
			console.log(enabled)
			if (!enabled) {
				//document.getElementById(`editName${hash}`).addClass('fa-pencil-alt')
				//document.getElementById(`editName${hash}`).removeClass('fa-check')
				for (var i = 0; i < custom_json.assets.length; i++) {
					const img = custom_json.assets[i]
					if (img.hash == hash) {
						custom_json.assets[i].name = document.getElementById(`nameOf${hash}`).value
						break;
					}
				}
				//buildList()
				iloaded()
			}
		}

		function post() {
			const operations = [["comment",
				{
					"parent_author": "",
					"parent_permlink": "dlux",
					"author": localStorage.getItem('user'),
					"permlink": permlink,
					"title": document.getElementById('title').value,
					"body": simplemde.value() + `\n***\n#### [View in VR @ dlux.io](https://dlux.io/dlux/@${localStorage.getItem('user')}/${permlink})\n`,
					"json_metadata": JSON.stringify(custom_json)
				}],
			["comment_options",
				{
					"author": localStorage.getItem('user'),
					"permlink": permlink,
					"max_accepted_payout": "1000000.000 HBD",
					"percent_hbd": 10000,
					"allow_votes": true,
					"allow_curation_rewards": true,
					"extensions":
						[[0,
							{
								"beneficiaries":
									[{
										"account": "dlux-io",
										"weight": 1000
									}]
							}]]
				}]]
			hive_keychain.requestBroadcast(localStorage.getItem('user'), operations, 'active', function (response) {
				console.log(response);
			});

		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>