<!doctype html>
<html lang="en" class="h-100">

<head>
    <title>DLUX - Apps</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/img/dlux-icon-192.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="DLUX">
    <meta name="theme-color" content="#111222" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link href="/css/custom.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/0f693ffc58.js" crossorigin="anonymous"></script>

    <script type="module" src="/js/appvue.js"></script>


    <script>
        if ('serviceWorker' in navigator) {
            navigator
                .serviceWorker
                .register(
                    // path to the service worker file
                    '/sw.js'
                )
                // the registration is async and it returns a promise
                .then(function (reg) {
                    console.log('Registration Successful');
                });
        }

    </script>

</head>

<body class="d-flex flex-column h-100 padme-t70 text-white" id="explore">
    <div id="app">
        <div v-scroll="handleScroll">
            <nav-vue @login="account = $event;getTokenUser($event);getHiveUser($event)"
                @logout="account = '';removeUser()" @ack="removeOp($event)" @refresh="run($event)" :op="toSign"
                :lapi="lapi" />
        </div>
        <main role="main" class="flex-shrink-0">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="text-white text-center background-rb p-4">
                        <span class="display-4">
                            <cycle-text
                                :items="['Virtual Reality', 'Augmented Reality', 'Extended Reality', 'Your Reality']"
                                :interval="4000"></cycle-text>
                        </span>

                        <p class="lead">Responsive WebXR across mobile, desktop, and headset.</p>
                        <div>
                            <a href="/vr" class="btn btn-lg btn-outline-light" target="_blank"><i
                                    class="fas fa-vr-cardboard me-2"></i>Launch overworld
                            </a>
                        </div>
                        </p>
                    </div>


                </div>
            </div>
            <div class="row mt-3">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="mx-3">
                        <a class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NEW
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item">NEW</a>
                            <a class="dropdown-item">HOT</a>
                            <a class="dropdown-item">TRENDING</a>
                        </div>
                    </div>
                    <div class="mx-3">
                        <a class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TYPE
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark">
                            <a class="dropdown-item" v-for="(value, key, index) in postSelect.types">
                                <div class="input-group d-flex">
                                    <div class="input-group-text bg-darkg text-white d-flex flex-fill"><i
                                            :class="value.icon"></i>{{key}}</div>
                                    <div class="input-group-text bg-darkg">
                                        <input class="form-check-input mt-0" type="checkbox" value=""
                                            :checked="value.checked" @click="selectPosts()" aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row d-none" data-masonry='{"percentPosition": true }'>

                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6"
                                dy=".3em">Image cap</text>
                        </svg>

                        <div class="card-body">
                            <h5 class="card-title">Card title that wraps to a new line</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="row" >

                    <div class="col-sm-6 col-lg-4 mb-4"  v-for="post in displayPosts">
                        <div class="card text-white bg-dark mt-2 mb-3">
                            <div class="card-header">
                                <div class="">
                                    <div class="float-left"><a :href="'/@' + post.author"><img
                                                :src="'https://images.hive.blog/u/' + post.author + '/avatar'" alt=""
                                                class="rounded-circle bg-light img-fluid mr-2 cover author-img"></a>
                                    </div>
                                    <div class="float-left">
                                        <p class="mt-0 mb-0 text-muted text-semibold"><a :href="'/@' + post.author"
                                                class="a-1">{{post.author}}<span
                                                    class="ml-2 badge badge-pill badge-light">{{authors[post.author] ?
                                                    rep(authors[post.author]): ''}}</span></a>
                                        </p>
                                        <small class="text-muted">post.ago</small>
                                    </div>
                                </div>
                                <div class="float-right"><span class="badge badge-secondary">App Type</span></div>
                            </div>
                            <a href="#detailModal" class="a-1" data-bs-toggle="modal" @click="modalSelect(url)">
                                <!-- @click="window.history.pushState('{{url}}','{{dluxLoad.data.result.title}}', '/blog/@{{author}}/{{permlink}}');updateModalData('{{dluxLoad.data.result.created}}', '{{dluxLoad.data.result.json_metadata.parseJSON().toString()}}', '{{dluxLoad.data.result.title}}', '{{dluxLoad.data.result.body.encodeURI()}}', '{{dluxLoad.data.result.active_votes.toString()}}', '{{dluxLoad.data.result.children.toString()}}', '{{dluxLoad.data.result.total_payout_value}}', '{{dluxLoad.data.result.author}}', '{{dluxLoad.data.result.permlink}}');" -->
                                <h5 class="card-title mt-2 text-center text-capitalize">{{post.title}}</h5>
                                <img src="..." alt="Card image cap" class="card-img-top" :src="post.pic" />
                                <div class="card-body">
                                    <p class="preview-text">{{post.preview}}</p>
                                </div>
                            </a>
                            <div class="text-center">
                                <a :href="post.appurl" type="button" class="btn btn-outline-danger mb-4 btn-launch"
                                    target="_blank" v-if="'app'">Launch App</a>
                            </div>
                            <div class="card-footer">
                                <div class="collapse" :id="'vote-' + post.id">
                                    <form id="voteForm">
                                        <div class="d-flex align-items-center text-white-50">
                                            <div>
                                                <button type="button" class="btn btn-primary"
                                                    @click="vote(post.id)">{{post.slider}}%</button>
                                                <button type="button" class="btn btn-secondary" data-toggle="collapse"
                                                    :data-target="'#vote-' + post.id"><span
                                                        class="close text-white">×</span></button>
                                            </div>
                                            <div class="flex-fill mx-2">
                                                <p class="my-1">
                                                    <input type="range" class="form-control-range" step="0.01"
                                                        value="100" v-model="post.slider">
                                                </p>
                                            </div>
                                            <div>
                                                <p class="my-0"><span class="mr-1" id="commentVal">0</span><i
                                                        class="ml-1 fab fa-fw fa-hive"></i></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="d-flex align-items-center my-2">
                                    <div><a data-toggle="collapse" :data-target="'#vote-' + post.id"><i
                                                class="fas fa-heart fa-fw mr-1"></i></a>{{post.upVotes}}
                                        <i class="fas fa-comment fa-fw ml-2 mr-1"></i>post.children
                                    </div>
                                    <div class="ml-auto">{{post.total_payout_value}}<i
                                            class="ml-1 fab fa-fw fa-hive"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="modal fade" id="detailModal" tabindex="11" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-full modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content bg-dark text-white">
                        <div class="card text-white bg-dark">
                            <div class="card-header">
                                <div class="d-inline-block p-2">
                                    <div class="float-left"><a id="modal_author_href1"><img id="modal_author_img" alt=""
                                                class="rounded-circle bg-light img-fluid mr-2 cover author-img"></a>
                                    </div>
                                    <div class="float-left">
                                        <p class="mt-0 mb-0 text-muted text-semibold"><a class="a-1"
                                                id="modal_author"><span
                                                    class="ml-2 badge badge-pill badge-light">{{authors[displayPost.item.author]
                                                    ? authors[displayPost.item.author].rep : ''}}</span></a>
                                        </p>
                                        <small class="text-muted" id="modal_created"></small>
                                    </div>
                                </div>
                                <div class="float-right p-2"><span class="badge badge-secondary" id="modal_scat"></span>
                                    <button type="button" class="close text-white ml-3" data-dismiss="modal"
                                        aria-label="Close" onclick="window.history.back();"><span
                                            aria-hidden="true">×</span></button>
                                </div>
                            </div>
                            <a id="modal_blog_link" class="text-white">
                                <h3 class="card-title mt-2 text-center text-capitalize p-2" id="modal_title"></h3>
                            </a> <img src="..." alt="Card image cap" class="card-img-top" id="modal_pic" />
                            <div class="card-body">
                                <p class="p-2" id="modal_body"></p>
                            </div>
                            <center>
                                <a :href="displayPost.item.url" type="button"
                                    class="btn btn-outline-danger mb-4 btn-launch">Launch App</a>
                            </center>
                            <div class="card-footer">
                                <div class="collapse" :data-target="'#vote-' + displayPost.item.id">
                                    <form id="voteForm">
                                        <div class="d-flex align-items-center text-white-50">
                                            <div>
                                                <button type="button" class="btn btn-primary"
                                                    @click="vote(displayPost.item.id)">{{displayPost.item.slider}}%</button>
                                                <button type="button" class="btn btn-secondary" data-toggle="collapse"
                                                    :data-target="'#vote-' + displayPost.item.id"><span
                                                        class="close text-white">×</span></button>
                                            </div>
                                            <div class="flex-fill mx-2">
                                                <p class="my-1">
                                                    <input type="range" class="form-control-range" step="0.01"
                                                        value="100" max="100" min="0.01"
                                                        v-model="displayPost.item.slider">
                                                </p>
                                            </div>
                                            <p class="my-0"><span class="mr-1" id="commentVal">0</span><i
                                                    class="ml-1 fab fa-fw fa-hive"></i></p>
                                        </div>
                                    </form>
                                </div>
                                <div class="d-flex align-items-center my-2">
                                    <div><a data-toggle="collapse" :data-target="'#vote-' + displayPost.item.id"><i
                                                class="fas fa-heart mr-1"></i></a>{{displayPost.item.upVotes}}
                                        <i class="fas fa-comment ml-2 mr-1"></i>displayPost.item.children
                                    </div>
                                    <div class="ml-auto" id="modal_total_payout"><i class="ml-1 fab fa-fw fa-hive"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <div>
            <foot-vue />
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>

    <script>
        (function () {
            "use strict";
            window.addEventListener(
                "load",
                function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName("needs-validation");
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(
                        forms,
                        function (form) {
                            form.addEventListener(
                                "submit",
                                function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add("was-validated");
                                },
                                false
                            );
                        }
                    );
                },
                false
            );
        })();
        var disabletab = document.getElementsByClassName("disabled-input");
        for (var i = 0; i < disabletab.length; i++) {
            disabletab[i].setAttribute("tabindex", "-1");
        }
        var toastElList = [].slice.call(document.querySelectorAll(".toast"));
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, option);
        });
        var tooltipTriggerList = [].slice.call(
            document.querySelectorAll('[data-bs-toggle="tooltip"]')
        );
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <!-- <script src="/js/session.js"></script>
<script>
function hiveKeychain () {
    let username = document.getElementById('hk-username').value
    console.log('value: ' + username)
    localStorage.setItem("user", username);
    let session = new Dluxsession(hive, {hiveidip:username})
} 
   window.addEventListener('load', function () {
    let use = document.getElementById("hiveKeychain");
    let get = document.getElementById("getKeychain");
    let count = 0;
    let kc_interval = setInterval(function() {
      count++
      if(window.hive_keychain) {
          get.style.display = "none";
      } else {
          use.style.display = "none";
      }
      if (count >= 8) clearInterval(kc_interval)
    }, 250);
  checkCookie()
}) 

</script>
<script>
var modalData = {}
function updateModalData(created, json_metadata, title, body, active_votes, children, total_payout_value, author, permlink){
  modalData = {
    author,
    permlink,
    created,
    json_metadata: JSON.parse(json_metadata.replace(/&QO/g, '"').replace(/&SQO/g, "'")),
    title,
    body: decodeURIComponent(body),
    active_votes: JSON.parse(active_votes.replace(/&QO/g, '"').replace(/&SQO/g, "'")),
    children: JSON.parse(children.replace(/&QO/g, '"').replace(/&SQO/g, "'")),
    total_payout_value
  }
  document.getElementById('modal_created').innerHTML = formatDate(modalData.created, "MMM dd, yyyy") //.formatDate("MMM dd, yyyy")
  document.getElementById('modal_scat').innerHTML = scat(modalData.json_metadata) // {{modalData.json_metadata.scat()}}
  document.getElementById('modal_body').innerHTML = removeMD(modalData.body) //{{modalData.body.removeMD()}}
  document.getElementById('modal_title').innerHTML = modalData.title // {{modalData.title}}
  document.getElementById('modal_author').innerHTML = '@' + modalData.author //{{data_detail.data.author}}
  document.getElementById('modal_author').href = `/@${modalData.author}`
  document.getElementById('modal_author_href1').href = `/@${modalData.author}`
  document.getElementById('modal_author_img').src = `https://images.hive.blog/u/${modalData.author}/avatar`
  document.getElementById('modal_total_payout').innerHTML = ' ' + modalData.total_payout_value //{{modalData.total_payout_value}}
  document.getElementById('modal_blog_link').href = `/blog/@${modalData.author}/${modalData.permlink}`
  document.getElementById('modal_pic').src = picFind(modalData.json_metadata)
  document.getElementById('modal_blog_link').href = `/blog/@${modalData.author}/${modalData.permlink}`
  document.getElementById('modal_blog_link').href = `/blog/@${modalData.author}/${modalData.permlink}`
}
function picFind(json) {
            var arr
            try {
                arr = json.image[0]
            } catch (e) {

            }
            if (typeof json.image == 'string') {
                return json.image
            } else if (typeof arr == 'string') {
                return arr
            } else if (typeof json.Hash360 == 'string') {
                return `https://ipfs.io/ipfs/${json.Hash360}`
            } else {
                /*
                var looker
                try {
                    looker = body.split('![')[1]
                    looker = looker.split('(')[1]
                    looker = looker.split(')')[0]
                } catch (e) {
                    */
                return '/img/dluxdefault.svg'
            }
        }
function scat (s) {
                let t = s
                if (t.vrHash) return 'VR'
                else if (t.arHash) return 'AR'
                else if (t.appHash) return 'dAPP'
                else return 'BLOG'
            }
            function removeMD(md, options) {
                options = options || {};
                options.listUnicodeChar = options.hasOwnProperty('listUnicodeChar') ? options.listUnicodeChar : false;
                options.stripListLeaders = options.hasOwnProperty('stripListLeaders') ? options.stripListLeaders : true;
                options.gfm = options.hasOwnProperty('gfm') ? options.gfm : true;
                options.useImgAltText = options.hasOwnProperty('useImgAltText') ? options.useImgAltText : false;
                var output = md || '';
                output = output.replace(/^(-\s*?|\*\s*?|_\s*?){3,}\s*$/gm, '');
                try {
                    if (options.stripListLeaders) {
                        if (options.listUnicodeChar)
                            output = output.replace(/^([\s\t]*)([\*\-\+]|\d+\.)\s+/gm, options.listUnicodeChar + ' $1');
                        else
                            output = output.replace(/^([\s\t]*)([\*\-\+]|\d+\.)\s+/gm, '$1');
                    }
                    if (options.gfm) {
                        output = output
                            .replace(/\n={2,}/g, '\n')
                            .replace(/~{3}.*\n/g, '')
                            .replace(/~~/g, '')
                            .replace(/`{3}.*\n/g, '');
                    }
                    output = output
                        .replace(/<[^>]*>/g, '')
                        .replace(/^[=\-]{2,}\s*$/g, '')
                        .replace(/\[\^.+?\](\: .*?$)?/g, '')
                        .replace(/\s{0,2}\[.*?\]: .*?$/g, '')
                        .replace(/\!\[(.*?)\][\[\(].*?[\]\)]/g, options.useImgAltText ? '$1' : '')
                        .replace(/\[(.*?)\][\[\(].*?[\]\)]/g, '$1')
                        .replace(/^\s{0,3}>\s?/g, '')
                        .replace(/^\s{1,2}\[(.*?)\]: (\S+)( ".*?")?\s*$/g, '')
                        .replace(/^(\n)?\s{0,}#{1,6}\s+| {0,}(\n)?\s{0,}#{0,} {0,}(\n)?\s{0,}$/gm, '$1$2$3')
                        .replace(/([\*_]{1,3})(\S.*?\S{0,1})\1/g, '$2')
                        .replace(/([\*_]{1,3})(\S.*?\S{0,1})\1/g, '$2')
                        .replace(/(`{3,})(.*?)\1/gm, '$2')
                        .replace(/`(.+?)`/g, '$1')
                        .replace(/\n{2,}/g, '\n\n');
                } catch (e) {
                    console.error(e);
                    return md;
                }
                return output;
            }
function formatDate(t, n) {
                var r = new Date(t);
                if ("Invalid Date" == r.toString()) return null;
                var e = function(t) {
                        return ("00" + t).substr(-2);
                    },
                    u = [
                        "January",
                        "February",
                        "March",
                        "April",
                        "May",
                        "June",
                        "July",
                        "August",
                        "September",
                        "October",
                        "November",
                        "December"
                    ],
                    a = [
                        "Jan",
                        "Feb",
                        "Mar",
                        "Apr",
                        "May",
                        "Jun",
                        "Jul",
                        "Aug",
                        "Sep",
                        "Oct",
                        "Nov",
                        "Dec"
                    ],
                    i = [
                        "Sunday",
                        "Monday",
                        "Tuesday",
                        "Wednesday",
                        "Thursday",
                        "Friday",
                        "Saturday"
                    ],
                    o = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                    c = r.getFullYear(),
                    s = r.getMonth(),
                    l = r.getDate(),
                    f = r.getDay(),
                    d = r.getHours(),
                    g = r.getMinutes(),
                    m = r.getSeconds();
                return n.replace(/[yMdHhmsaA]+/g, function(t) {
                    switch (t) {
                        case "yyyy":
                            return ("0000" + c).substr(-4);
                        case "yy":
                            return e(c);
                        case "y":
                            return c;
                        case "MMMM":
                            return u[s];
                        case "MMM":
                            return a[s];
                        case "MM":
                            return e(s + 1);
                        case "M":
                            return s + 1;
                        case "dddd":
                            return i[f];
                        case "ddd":
                            return o[f];
                        case "dd":
                            return e(l);
                        case "d":
                            return l;
                        case "HH":
                            return e(d);
                        case "H":
                            return d;
                        case "hh":
                            return e(d % 12 || 12);
                        case "h":
                            return d % 12 || 12;
                        case "mm":
                            return e(g);
                        case "m":
                            return g;
                        case "ss":
                            return e(m);
                        case "s":
                            return m;
                        case "a":
                            return d < 12 ? "am" : "pm";
                        case "A":
                            return d < 12 ? "AM" : "PM";
                    }
                    return t;
                });
            }
function updateVoteSubmit(id,val) {
    document.getElementById(id).innerHTML = document.getElementById(val).value + '%'; 
}
</script> -->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
</body>

</html>