<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <title>DLUX - Explore NFTs</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="apple-touch-icon" href="/img/dlux-icon-192.png">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="DLUX">
  <meta name="theme-color" content="#111222" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- Bootstrap -->
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />-->
  <link href="/css/custom.css" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/0f693ffc58.js" crossorigin="anonymous"></script>
  <script type="module" src="/js/nftsvue.js"></script>


  <script>
    navigator.serviceWorker.getRegistrations().then(function (registrations) {
      for (let registration of registrations) {
        registration.unregister();
      }
    });
//         if ('serviceWorker' in navigator) {
//             navigator
//                 .serviceWorker
//                 .register(
//                     // path to the service worker file
//                     '/sw.js'
//                 )
//                 // the registration is async and it returns a promise
//                 .then(function (reg) {
//                     console.log('Registration Successful');
//                 });
//         }
  </script>
  <style>
    .mint-market-widget {
      width: 35%;
    }

    .mint-owned-widget {
      width: 10%;
    }

    .info-widget {
      max-width: 30%;
    }

    .stats-widget {
      max-width: 700px;
    }

    .mint-bar {
      min-width: 400px;
      height: 55px;
    }



    .widget-accordion {

      --bs-accordion-border-color: clear !important;
      --bs-accordion-active-bg: clear !important;

      --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    }
  </style>
</head>

<body class="d-flex flex-column h-100 padme-t70 text-white" id="explore">
  <div id="app" v-cloak>
    <div v-scroll="handleScroll">
      <nav-vue @login="setValue('account', $event);getTokenUser($event);getHiveUser($event);getUserNFTs()"
        @logout="setValue('account', '');removeUser()" @ack="removeOp($event)" @refresh="run($event)" :op="toSign"
        :lapi="lapi" />
    </div>
    <main role="main" class="flex-shrink-0">

      <div class="container-fluid" v-if="ready">
        <div class="card bg-dark text-white">
          <div>
            <img class="banner-img w-100 img-fluid"
              :src="makeLink('https://ipfs.io/ipfs/', chains[jsontoken].sets[setname].computed.set ? chains[jsontoken].sets[setname].computed.set.banner : '')"></img>

            <div class="center-circle rounded-circle bg-darker" style="border: solid black 3px;">
              <img class="rounded-circle max-134"
                :src="makeLink('https://ipfs.io/ipfs/', chains[jsontoken].sets[setname].computed.set ? chains[jsontoken].sets[setname].computed.set.logo : '')"></img>
            </div>
          </div>
          <div v-cloak class="card-body p-0 rounded-bottom rounded-bottom-3"
            :style="{'background': getSetDetailsColors(chains[jsontoken].sets[setname].computed ? chains[jsontoken].sets[setname].computed : '')}"
            style="border: none; ">


            <div class="mt-3 mx-2 mb-1 pt-3 rounded d-flex align-items-center flex-wrap justify-content-around"
              style="background-color: rgba(0,0,0,0.7)">
              <div class="ms-2 mt-2">
                <h1 class="card-title mb-0" v-cloak>{{chains[jsontoken].sets[setname].name_long ?
                  chains[jsontoken].sets[setname].name_long : ''}}</h1>
                <h4 class="mb-0 small">Created by <a :href="makeLink('/@',chains[jsontoken].sets[setname].author)"
                    class="no-decoration" v-cloak>@{{chains[jsontoken].sets[setname].author}}</a></h4>
                <nav
                  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                  aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/nfts/">Market</a></li>
                    <li class="breadcrumb-item"><a href="/nfts/sets/">Sets</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{chains[jsontoken].sets[setname].name}}</li>
                  </ol>
                </nav>
              </div>
              <!-- stats widget -->
              <div class="d-flex w-100 align-items-center py-2 justify-content-center stats-widget">
                <div class="text-center p-2 border-end">
                  <h3 class="mb-0"><i
                      class="fa-solid fa-user-astronaut me-1"></i>{{chains[jsontoken].sets[setname].owners}}</h3>
                  <p class="mb-0">owners</p>
                </div>

                <div class="text-center p-2 border-end">
                  <h3 class="mb-0"><i class="fa-solid fa-star me-1"></i>{{chains[jsontoken].sets[setname].minted -
                    chains[jsontoken].sets[setname].deleted}}</h3>
                  <p class="mb-0">items</p>
                </div>

                <div class="d-flex justify-content-around flex-grow-1">

                  <div class="text-center p-2">
                    <h3 class="mb-0"><cycle-text
                        :items="[sigFig(chains[jsontoken].sets[setname].sf.HIVE/1000, 2) + ' HIVE', sigFig(chains[jsontoken].sets[setname].sf.HBD/1000, 2) + ' HBD', sigFig(chains[jsontoken].sets[setname].sf.TOKEN/1000, 2) + ' ' + TOKEN]"
                        :interval="5000" /></h3>
                    <p class="mb-0 text-nowrap">sale floor</p>
                  </div>

                  <div class="text-center p-2">
                    <h3 class="mb-0"><cycle-text
                        :items="[chains[jsontoken].sets[setname].af.HIVE/1000 + ' HIVE', chains[jsontoken].sets[setname].af.HBD/1000 + ' HBD', chains[jsontoken].sets[setname].af.TOKEN/1000 + ' ' + TOKEN]"
                        :interval="5000" /></h3>
                    <p class="mb-0 text-nowrap">auction floor</p>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
        <!-- widget accordion-->
        <div class="accordion widget-accordion my-1" id="accordionWidgets">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button onclick="this.blur();" class="accordion-button collapsed pt-2 pb-1" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseWidgets" aria-expanded="true"
                aria-controls="collapseWidgets">
                <div class="w-100 d-flex flex-wrap justify-content-around align-items-center">
                  <!-- info icon -->
                  <div class="d-flex align-items-center me-2 mb-1 rounded-circle bg-dark p-1">
                    <h2 class="mb-0"><i class="fa-solid fa-circle-info fa-fw"></i></h2>
                  </div>
                  <!-- multi bar -->
                  <div
                    class="flex-grow-1 mb-1 me-2 progress bg-secondary border rounded-pill border-dark border-2 mint-bar">
                    <!--burned-->
                    <div class="progress-bar bg-danger-50 text-black" role="progressbar"
                      :style="{'width': ((chains[jsontoken].sets[setname].deleted/chains[jsontoken].sets[setname].max)*100) + '%'}"
                      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span><i class="me-1 fa-solid fa-fire"></i></span>
                      <span
                        v-cloak>{{formatNumber(((chains[jsontoken].sets[setname].deleted/chains[jsontoken].sets[setname].max)*100),2,'.',',')}}%</span>
                    </div>
                    <!--opened-->
                    <div class="progress-bar bg-success-50 text-black" role="progressbar"
                      :style="{'width': (((chains[jsontoken].sets[setname].minted-chains[jsontoken].sets[setname].deleted)/chains[jsontoken].sets[setname].max)*100) + '%'}"
                      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span><i class="me-1 fa-solid fa-box-open"></i></span>
                      <span
                        v-cloak>{{formatNumber(((chains[jsontoken].sets[setname].minted/chains[jsontoken].sets[setname].max)*100),2,'.',',')}}%</span>
                    </div>
                    <!--closed-->
                    <div class="progress-bar bg-primary-50 text-black" role="progressbar"
                      :style="{'width': (((chains[jsontoken].sets[setname].max-chains[jsontoken].sets[setname].minted)/chains[jsontoken].sets[setname].max)*100) + '%'}"
                      aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                      <span><i class="me-1 fa-solid fa-box"></i></span>
                      <span
                        v-cloak>{{formatNumber((((chains[jsontoken].sets[setname].max-chains[jsontoken].sets[setname].minted)/chains[jsontoken].sets[setname].max)*100),2,'.',',')}}%</span>
                    </div>
                  </div>
                  <!-- mint supply -->

                  <div class="rounded-pill me-2 d-flex align-items-center px-2 py-1 mb-1 me-2"
                    style="background-color: black">
                    <div class=""><small>MINT MARKET: </small></div>
                    <div class="px-2">
                      <h2 class="m-0">
                        <div>{{formatNumber((chains[jsontoken].sets[setname].forAuctionMint +
                          chains[jsontoken].sets[setname].forSaleMint),0,'.',',')}}
                        </div>
                      </h2>
                    </div>
                  </div>

                  <!-- mints owned -->

                  <div class="rounded-pill d-flex align-items-center px-2 py-1 mb-1 me-2"
                    style="background-color: black">
                    <div class=""><small>MINTS OWNED: </small></div>
                    <div class="px-2">
                      <h2 class="m-0">{{formatNumber(getMint(chains[jsontoken].sets[setname].set, 'qty'),0,'.',',')}}
                      </h2>
                    </div>
                  </div>


              </button>
            </h2>
            <div id="collapseWidgets" class="accordion-collapse collapse" data-bs-parent="#accordionWidgets">
              <div class="accordion-body p-0 m-0">

                <div class="d-flex align-items-stretch  flex-wrap">
                  <!--info widget -->
                  <div class="p-3 d-flex info-widget">
                    <div class="">
                      <div>

                        <div class="d-flex align-items-center">
                          <a role="button" title="Mint Details" data-bs-toggle="modal" data-bs-target="#transferModal"
                            @click="focusItem.set = setname; focusItem.token = jsontoken">
                            <img class="rounded max-160 my-2"
                              :src="makeLink('https://ipfs.io/ipfs/', chains[jsontoken].sets[setname].computed.set ? chains[jsontoken].sets[setname].computed.set.wrapped : '')"></img></a>
                          <p class="text-white-50 mb-0 ms-2" v-cloak>{{chains[jsontoken].sets[setname].computed.set ?
                            chains[jsontoken].sets[setname].computed.set.Description
                            : '...'}}</p>
                        </div>

                        <div class="mb-3">

                        </div>
                        <!-- financial options -->
                        <div class="d-flex align-items-center flex-wrap mb-3">
                          <div class="me-2 d-flex">
                            <span class="text-center small border border-secondary rounded text-white px-2 py-1"
                              v-cloak>ROYALTY:
                              {{chains[jsontoken].sets[setname].royalty/100}}%</span>
                          </div>

                          <div class="me-2 d-flex">
                            <span class="text-center small border border-secondary rounded text-white px-2 py-1"
                              v-cloak>BOND:
                              {{chains[jsontoken].sets[setname].bond ?
                              precision(chains[jsontoken].sets[setname].bond.amount,
                              chains[jsontoken].sets[setname].bond.precision) : 0 }}
                              {{chains[jsontoken].sets[setname].bond ?
                              chains[jsontoken].sets[setname].bond.token :
                              ''}}</span>
                          </div>
                          <!-- permlink dropdown stats -->
                          <div class="d-flex ms-auto mt-2">
                            <div class="small">Permlink: <a
                                :href="makeLink('/blog/@',chains[jsontoken].sets[setname].link)"
                                v-cloak>{{chains[jsontoken].sets[setname].permlink}}</a></div>
                            <div class="dropdown show d-flex align-items-center p-0 m-0">
                              <a class="text-white" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <h5 class="m-0"><i class="fas fa-info-circle ms-2"></i></h5>
                              </a>
                              <div
                                class="dropdown-menu dropdown-menu-dark dropdown-menu-end p-4 text-white-50 text-left bg-black">
                                <h6 class="dropdown-header text-center" v-cloak>{{chains[jsontoken].sets[setname].name}}
                                  NFT
                                  STATS</h6>
                                <div class="dropdown-divider bg-light"></div>
                                <p class="mb-0" v-cloak>Type: {{chains[jsontoken].sets[setname].type}}</p>
                                <div class="dropdown-divider bg-light"></div>
                                <p class="mb-0" v-cloak>Encoding: {{chains[jsontoken].sets[setname].encoding}}</p>
                                <div class="dropdown-divider bg-light"></div>
                                <p class="mb-0" v-cloak>Fee: {{naiString(chains[jsontoken].sets[setname].fee)}}</p>
                                <div class="dropdown-divider bg-light"></div>
                                <p class="mb-0">Script:</p>
                                <p class="mb-0 text-break" style="max-width: 250px;" v-cloak>
                                  {{chains[jsontoken].sets[setname].script}}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- mint progress stats -->
                      <div class="d-flex justify-content-between align-items-center text-center">
                        <div v-cloak class="col-3 p-2 d-flex flex-column">
                          <h5 class="mb-1"><i class="fa-solid fa-fire"></i></h3><span
                              class="mb-2 small">burned</span><span>{{chains[jsontoken].sets[setname].deleted}}</span>
                        </div>
                        <div v-cloak class="col-3 p-2 d-flex flex-column">
                          <h5 class="mb-1"><i class="fa-solid fa-box-open"></i></h3><span
                              class="mb-2 small">opened</span>
                            <span>{{formatNumber(chains[jsontoken].sets[setname].minted,0,'.',',')}}</span>
                        </div>
                        <div v-cloak class="col-3 p-2 d-flex flex-column">
                          <h5 class="mb-1"><i class="fa-solid fa-box"></i></h4><span class="mb-2 small">sealed</span>
                            <span>{{formatNumber((chains[jsontoken].sets[setname].max-chains[jsontoken].sets[setname].minted),0,'.',',')}}</span>
                        </div>
                        <div v-cloak class="col-3 p-2 d-flex flex-column">
                          <h5 class="mb-1"><i class="fa-solid fa-boxes-stacked"></i></h4><span
                              class="mb-2 small">total</span>
                            <span>{{formatNumber(chains[jsontoken].sets[setname].max,0,'.',',')}}</span>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- mint market widget -->
                  <div class="p-3 d-flex flex-grow-1 mint-market-widget">
                    <div class="d-flex">
                      <div class="">
                        <div class="">
                          <ul :id="chains[jsontoken].sets[setname].set + '-mint-tabnav'" class="nav nav-tabs mb-3"
                            role="tablist">
                            <li class="nav-item"> <a class="nav-link active"
                                :href="'#' + chains[jsontoken].sets[setname].set + '-mint-salestab'"
                                :id="chains[jsontoken].sets[setname].set + '-mint-saleslink'" role="tab"
                                data-bs-toggle="tab" aria-controls="mintsalestab" aria-expanded="true">
                                <div class="d-flex align-items-center">
                                  <div @click="">SALES</div>
                                  <div class="mb-3"><span class=" badge rounded-pill bg-danger" style="font-size: .7em">
                                      {{chains[jsontoken].sets[setname].forSaleMint}}</span>
                                  </div>
                                </div>
                              </a></li>
                            <li class="nav-item"> <a class="nav-link"
                                :href="'#'+ chains[jsontoken].sets[setname].set + '-mint-auctionstab'" role="tab"
                                :id="chains[jsontoken].sets[setname].set + '-mint-auctionslink'" data-bs-toggle="tab"
                                aria-controls="mintauctionstab">
                                <div class="d-flex align-items-center">
                                  <div>AUCTIONS</div>
                                  <div class="mb-3"><span class=" badge rounded-pill bg-danger"
                                      style="font-size: .7em">{{chains[jsontoken].sets[setname].mintAuctions ? chains[jsontoken].sets[setname].mintAuctions.length : 0}}</span>
                                  </div>
                                </div>
                              </a></li>
                          </ul>

                          <div :id="chains[jsontoken].sets[setname].set + '-mint-tabs'" class="tab-content">
                            <div :id="chains[jsontoken].sets[setname].set + '-mint-salestab'" role="tabpanel"
                              class="tab-pane fade show active" aria-labelledby="mintsalestab">
                              <table class="table table-sm">
                                <thead>
                                  <tr>
                                    <th scope="col" class="small">SUPPLY</th>
                                    <th scope="col" class="small">PRICE</th>
                                    <th scope="col" class="small">QTY</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>

                                  <tr scope="row" v-for="ad in chains[jsontoken].sets[setname].mintSales">

                                    <td style="vertical-align: middle">
                                      {{formatNumber(ad.qty,0,'.',',')}}</td>
                                    <td style="vertical-align: middle">
                                      {{naiString(ad.pricenai)}}</td>
                                    <td><span v-show="true" class="text-center">
                                        <form class="needs-validation" novalidate>

                                          <input value="1" required type="number" min="1" step="1" max="ad.qty"
                                            class="form-control text-info" style="max-width: 100px" v-model="ad.buyQty">


                                          <button type="submit" class="btn btn-info d-none" v-show="ad.by != account"
                                            @click="buyMint(ad.uid)">Buy</button>{{toFixed(ad.buyQty *
                                          ad.pricenai.amount,0)}}
                                          {{ad.pricenai.tokrn}}
                                        </form>
                                      </span>
                                      </span></td>
                                    <td>
                                      <div>
                                        <button type="submit" class="btn btn-info" v-show="ad.by != account"
                                          onclick="submit()">Buy</button>
                                        <!-- <button class="btn btn-primary" v-show="ad.by != account">Buy</button> -->
                                        <button class="btn btn-warning" v-show="ad.by == account">Cancel</button>
                                      </div>
                                    </td>

                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade show"
                              :id="chains[jsontoken].sets[setname].set + '-mint-auctionstab'"
                              aria-labelledby="mintauctionstab">
                              <table class="table table-sm">
                                <thead>
                                  <tr>
                                    <th scope="col" class="small">QTY</th>
                                    <th scope="col" class="small">BID</th>
                                    <th scope="col" class="small">TOTAL</th>
                                    <th scope="col" class="small">HIGH BIDDER</th>
                                <tbody>
                                  <tr v-for="auc in chains[jsontoken].sets[setname].mintAuctions">
                                    <th scope="row" colspan="4" style="background-color: crimson">
                                      <span>{{animateCountdown(auc.time)}}</span>
                                    </th>
                                  </tr>
                                  <tr v-for="auc in chains[jsontoken].sets[setname].mintAuctions">
                                    <th scope="row">1</th>
                                    <td>{{naiString(auc.pricenai)}}</td>
                                    <td>&asymp;
                                      {{auc.price}}
                                    </td>
                                    <td>{{auc.bidder}}</td>
                                  </tr>
                                  <tr v-for="auc in mintAuctions">
                                    <th scope="row" colspan="2"></th>
                                    <td><input class="form-control " type="number">
                                    </td>
                                    <td><button class="btn btn-secondary" @click="bidNFT(auc)">Bid</button>

                                    </td>

                                  </tr>
                                </tbody>

                                <th scope="col" class="small"></th>
                                <th scope="col" class="small"></th>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="d-flex">

          <!--filters-->
          <div class="d-none d-flex flex-column" style="max-width: 300px;">
            <div class="accordion bg-dark" id="accordionFilter">
              <div class="accordion-item bg-secondary">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button bg-darkg text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Status
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionFilter">
                  <div class="accordion-body bg-darkest">
                    <label class="form-label text-white-50">market</label>
                    <ul class="list-group">
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" :checked="NFTselect.saleOnly"
                          @click="NFTselect.saleOnly = !NFTselect.saleOnly;selectNFTs()" aria-label="...">
                        Buy Now ({{sales.length}})
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" :checked="NFTselect.auctionOnly"
                          @click="NFTselect.auctionOnly = !NFTselect.auctionOnly;selectNFTs()" aria-label="...">
                        At Auction ({{auctions.length}})
                      </li>
                    </ul>
                    <label class="form-label mt-3 text-white-50">@{{account}}</label>
                    <ul class="list-group">
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" :checked="iOwnCheckbox" @click="iOwnView()"
                          aria-label="...">
                        Owner ({{iOwn.length}})
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" :checked="highBidderCheckbox"
                          @click="highBidderView()" aria-label="...">
                        High Bidder ({{highBidder.length}})
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-secondary bg-secondary text-white">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button bg-darkg text-white collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Currency
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionFilters">
                  <div class="accordion-body bg-darkest">
                    <ul class="list-group">
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        {{TOKEN}}
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        HIVE
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        HBD
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
              <div class="accordion-item bg-secondary">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button bg-darkg text-white collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Price
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionFilters">
                  <div class="accordion-body bg-darkest">
                    Currency selector (USD / DLUX / HIVE) MIN to MAX

                  </div>
                </div>
              </div>
              <div class="accordion-item bg-secondary">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button bg-darkg text-white collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Attribute 1
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#accordionFilters">
                  <div class="accordion-body bg-darkest">
                    <ul class="list-group">
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Value 1 (#)
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Value 2 (#)
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Value 3 (#)
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Value 4 (#)
                      </li>
                      <li class="list-group-item bg-black border border-dark text-white-50">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                        Value 5 (#)
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>


          <!--set items-->
          <div class="d-flex flex-column flex-grow-1">

            <!-- ACTION BAR -->
            <div class="d-flex">

              <!--filter-->
              <div class="d-none me-2">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" data-bs-auto-close="outside" type="button"
                    id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-filter me-2"></i> Filter
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark p-2" aria-labelledby="filterDropdown">
                    <li class="mt-3"> <button class="btn btn-dark border-secondary text-white-50 w-100 dropdown-toggle"
                        type="button" id="dropdownFilterButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <span>Search in:</span>
                        <span v-if="NFTselect.searchDeep">Attributes</span>
                        <span v-if="!NFTselect.searchDeep">UIDs and Owners</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownFilterButton">
                        <li><a class="dropdown-item" :class="{'active':!NFTselect.searchDeep}" href="#/"
                            @click="setValue('NFTselect.searchDeep',false)">Search
                            UIDs and Owners</a></li>
                        <li><a class="dropdown-item" :class="{'active':NFTselect.searchDeep && ! NFTselect.searchDeepK}"
                            href="#/"
                            @click="setValue('NFTselect.searchDeep',true);setValue('NFTselect.searchDeepK', false)">Search
                            Attributes</a></li>
                        <li v-if="!chains[jsontoken].sets[setname].attributeKeys.length"><a class="dropdown-item"
                            :class="{'active':NFTselect.searching}" href="#/"
                            @click="selectNFTs(true, true);setValue('NFTselect.searchDeepK', true)">Index
                            Set (Pre-Search)</a></li>
                        <li v-if="chains[jsontoken].sets[setname].attributeKeys.length"><a class="dropdown-item"
                            :class="{'active':NFTselect.searchDeepK}" href="#/"
                            @click="setValue('NFTselect.searchDeepK', true)">Search
                            in Attribute</a></li>
                      </ul>
                    </li>
                    <li class="mt-3"><button
                        class="form-control btn btn-dark border-danger text-white-50 w-100 dropdown-toggle"
                        type="button" id="dropdownFilterButton2" data-bs-toggle="dropdown" aria-expanded="false"
                        v-if="NFTselect.searchDeepK">
                        <span>{{NFTselect.searching ? 'Searching...' :
                          'Attribute:'}}</span>
                        <span v-if="NFTselect.searchDeepKey">{{NFTselect.searchDeepKey}}</span>
                        <span v-if="!NFTselect.searchDeepKey">Select</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownFilterButton2">
                        <li v-for="k in chains[jsontoken].sets[setname].attributeKeys"><a class="dropdown-item"
                            :class="{'active':k == NFTselect.searchDeepKey}" href="#/"
                            @click="setValue('NFTselect.searchDeepKey',k)">{{k}}</a>
                        </li>
                      </ul>
                    </li>
                    <li class="my-3"><button class="btn btn-dark border-danger text-white-50 w-100 dropdown-toggle"
                        type="button" id="dropdownFilterButton3" data-bs-toggle="dropdown" aria-expanded="false"
                        v-if="NFTselect.searchDeepKey">
                        <span>Value:</span>
                        <span v-if="includes">{{NFTselect.searchTerm}}</span>
                        <span v-else>Select</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownFilterButton3">
                        <li v-for="l in chains[jsontoken].sets[setname].attributes[NFTselect.searchDeepKey]">
                          <a class="dropdown-item" :class="{'active': includes}" href="#/"
                            @click="setValue('NFTselect.searchTerm', l);selectNFTs()">{{l}}
                            ({{chains[jsontoken].sets[setname].attributesC[NFTselect.searchDeepKey][l]}})</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Status -->
              <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle me-2" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Status
                </button>
                <ul class="dropdown-menu bg-black">
                  <li v-for="(item, name, index) in selectors">
                    <div class="py-1 px-2" v-if="name != ''">
                      <div class="form-check">
                        <input @change="addFilters('Status', name);displaynfts()" class="form-check-input"
                          type="checkbox" v-model="item.checked" :id="name + 'StatusCheck'">
                        <label class="form-check-label" :for="name + 'StatusCheck'">
                          {{name}}
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Currency -->
              <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle me-2" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Currency
                </button>
                <ul class="dropdown-menu bg-black">
                  <li v-for="(item, name, index) in denoms">
                    <div class="py-1 px-2">
                      <div class="form-check">
                        <input @change="addFilters('Currency', name);displaynfts()" class="form-check-input"
                          type="checkbox" v-model="item.checked" :id="name + 'CurrencyCheck'">
                        <label class="form-check-label" :for="name + 'CurrencyCheck'">
                          {{name}}
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- Search -->
              <div class="position-relative me-2 flex-grow-1">
                <span class="position-absolute top-50 translate-middle-y ps-2"><i
                    class="fa-solid fa-magnifying-glass fa-fw"></i></span>
                <input @keyup="displaynfts()" @change="displaynfts()" @search="displaynfts()"
                  class="ps-4 form-control border-white" type="search" v-model="NFTselect.searchTerm"
                  placeholder="Search items and accounts">
              </div>

              <!-- Sort -->
              <div class="dropdown me-2">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{NFTselect.sort == 'uid' ? 'Sort' : ('Sort by ' + (NFTselect.sort == 'price' ? 'Price: ' : 'Time: ')
                  +
                  (NFTselect.dir == 'asc' ? 'Low to High' : 'High to Low'))}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end bg-black">
                  <li>
                    <a @click="NFTselect.dir='asc';NFTselect.sort='price';displaynfts()" class="dropdown-item"
                      role="button">Price low to high</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='dec';NFTselect.sort='price';displaynfts()" class="dropdown-item"
                      role="button">Price high to low</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='asc';NFTselect.sort='time';displaynfts()" class="dropdown-item"
                      role="button">Time ending soonest</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='dec';NFTselect.sort='time';displaynfts()" class="dropdown-item"
                      role="button">Time ending latest</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='asc';NFTselect.sort='owner';displaynfts()" class="dropdown-item"
                      role="button">Owner Ascending</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='dec';NFTselect.sort='owner';displaynfts()" class="dropdown-item"
                      role="button">Owner Descending</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='asc';NFTselect.sort='uid';displaynfts()" class="dropdown-item"
                      role="button">UID Ascending</a>
                  </li>
                  <li>
                    <a @click="NFTselect.dir='dec';NFTselect.sort='uid';displaynfts()" class="dropdown-item"
                      role="button">UID Descending</a>
                  </li>
                </ul>
              </div>
              <!-- Deleted-->
              <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="deletedDropdown"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span v-if="!NFTselect.showDeleted">Deleted: Hiding</span>
                  <span v-if="NFTselect.showDeleted">Deleted: Showing</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark bg-black" aria-labelledby="deletedDropdown">
                  <li><a class="dropdown-item" :class="{'active':!NFTselect.showDeleted}" href="#/"
                      @click="setValue('NFTselect.showDeleted', false);displaynfts()">Hide
                      Deleted</a></li>
                  <li><a class="dropdown-item" :class="{'active':NFTselect.showDeleted}" href="#/"
                      @click="setValue('NFTselect.showDeleted', true);displaynfts()">Show
                      Deleted</a></li>
                </ul>
              </div>

            </div>
            <div class="mt-2 ms-1">
              <h5 class="mb-0">{{displayNFTs.length}} Items</h5>
            </div>
            <div class="d-flex flex-wrap mt-2" v-if="NFTselect.keys.length">
              <!-- Active Filters -->
              <div v-for="(item, index) in NFTselect.keys">
                <div v-if="index > 1" class="rounded bg-secondary text-black filter-bubble me-1 d-flex align-items-center">
                
                  <span>{{item}}</span>
                  <button @click="clearFilters(item)" type="button" class="ms-1 btn-close btn-close-white"></button>
                </div>
              </div>
              <button @click="clearFilters()" type="button" v-if="NFTselect.keys.length > 2" class="btn btn-secondary">
                Clear All
              </button>
            </div>
            <div class="row row-cols-xxl-6 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
              <!-- NFTCARD REPEAT AUCTION -->
              <div class="col my-2" v-for="(item, name, index) in displayNFTs">
                <nftcard :item="item" :uid="Base64toNumber(item.uid)" :icon="getIcon(item.script)"
                  @focusitem="focusItem = $event" :multisig="chains[item.token].multisig"
                  :colors="getSetDetailsColors(item.script)" :index="index" :auction="item.auction" :sale="item.sale"
                  :account="account" @detail="modalIndex('itemModal', $event, 'displayNFTs');itemModal.hidden = false"
                  @tosign="toSign = $event" />
              </div>
            </div>
          </div>

          <!-- NFT Detail Modal -->
          <div>
            <nftdetail :sets="focusSet" :account="account" :itemmodal="itemModal" :pfp="pfp" :item="focusItem"
              :chains="chains" @detail="modalIndex('itemModal', $event);itemModal.hidden = false" @setpfp="setPFP($event)"
              @tosign="toSign=$event" />
          </div>

          <!-- mint transfer modal -->
          <div>
            <fttransfer :account="account" 
            :item="focusItem" 
            :mint="true" 
            @modal="modal($event)"
            :icon="chains[focusItem.token].sets[focusItem.set].computed.set.faicon" 
            :setdetail="chains[focusItem.token].sets[focusItem.set]"
            :api="chains[focusItem.token].api"
            :wrapped="chains[focusItem.token].sets[focusItem.set].computed.set.wrapped"
            :qty="mintsQty(focusItem)"
            :colors="'linear-gradient(' + chains[focusItem.token].sets[focusItem.set].computed.set.Color1 + ',' + chains[focusItem.token].sets[focusItem.set].computed.set.Color2 + ')'"
            @tosign="toSign = $event" 
            :info="chains[focusItem.token].sets[focusItem.set].computed.set.Description" />
          </div>

        </div>
    </main>
    <div>
      <foot-vue />
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script>
    (function () {
      "use strict";
      window.addEventListener(
        "load",
        function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName("needs-validation");
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(
            forms,
            function (form) {
              form.addEventListener(
                "submit",
                function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            }
          );
        },
        false
      );
    })();
    var disabletab = document.getElementsByClassName("disabled-input");
    for (var i = 0; i < disabletab.length; i++) {
      disabletab[i].setAttribute("tabindex", "-1");
    }
    var toastElList = [].slice.call(document.querySelectorAll(".toast"));
    var toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl, option);
    });
    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
    integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>

</html>